[2017-08-23 18:22] 33m opened #1 "The attribute is called 'periods' - do we allow multiple?"
https://github.com/GoshPosh/grafana-meta-queries/blob/0793246a7137a03f57a5eba9785d66d39a226bd1/src/query_ctrl.ts#L120

If we don't, the attribute name is misleading (I was trying multiple)

[2017-11-02 13:05] smirn0v opened #2 "Failed to find exported plugin component for query-ctrl-mixed"
Grafana 4.6.1
Getting this error with no graphs displayed
https://cloud.mail.ru/public/9cNf/u2Q9pfGXn

[2017-11-02 15:06] Gauravshah commented on #2
can you add in steps ? I am unable to reproduce this issue on my local with grafana 4.6.1
also screenshot of dashboard config that you are building ?

[2017-11-07 13:21] lastboy1228 opened #3 "where is "grafana mixed panal plugin""
Grafana 4.6.1
`TypeError: Cannot set property 'hide' of undefined
    at eval (http://10.24.64.233:3000/public/plugins/grafana-meta-queries-datasource/datasource.js?bust=1510059477301:113:25)
    at f (http://10.24.64.233:3000/public/app/boot.d709d8d5.js:61:30416)
    at Function.Pg (http://10.24.64.233:3000/public/app/boot.d709d8d5.js:62:31351)
    at MetaQueriesDatasource._doQuery (http://10.24.

[2017-11-07 13:51] Gauravshah commented on #3
will update readme for instructions for installation. Regular plugin install should do.
Looks like the "Query" & "Metric" value is incorrect. If you can send screenshot of your configuration we can debug

[2017-11-07 15:22] lastboy1228 commented on #3
I add two metrics using MetaQueries as datasource, then delete one of them, and the error gone.

[2017-11-07 15:22] #3 closed

[2017-11-08 13:22] Gauravshah commented on #2
added into the dist folder in commit https://github.com/GoshPosh/grafana-meta-queries/blob/f97f945c20e968d1ed38a5d60437576a0762f53e/dist/datasource.ts

[2017-11-08 14:56] Gauravshah commented on #3
added more details to readme

[2017-11-08 16:52] Gauravshah opened #4 "start time of graph for moving average not correct"
when plotting moving average the first data point does not show up. That leaves with broken graph in the beginning

[2017-12-01 05:31] dr1s opened #5 "Hide original metrics"
Is there a way to hide the non computed metrics?
e.g. I have 2 queries A and B and a arithmetical computed metric which is C=B-A.
Is there a way to only show C?

[2017-12-01 05:36] Gauravshah commented on #5
that should be supported by original data source plugin using the eye icon. It works in case of druid.
<img width="1422" alt="screen shot 2017-11-30 at 9 35 29 pm" src="https://user-images.githubusercontent.com/620559/33469250-814ec58a-d616-11e7-9768-8333ff763b40.png">

[2017-12-01 06:38] appunni-dishq commented on #5
Yes I was going through this, and I get the undefined error. I am trying to resolve this code. If I can I will surely send a pull request

[2017-12-01 06:39] appunni-dishq commented on #5
By the way I am using Influxdb 0.9 plugin

[2017-12-01 07:43] Gauravshah commented on #5
@dr1s @appunni-dishq  can you send in you trace from browser console, might have to do with the way we unhide it internally for querying

[2017-12-01 07:49] appunni-dishq commented on #5
[code]
![image](https://user-images.githubusercontent.com/31534711/33472894-2a01b9fc-d69a-11e7-9c86-34133b473a6a.png)

[2017-12-01 07:50] Gauravshah commented on #5
It should be `B['returning']/A['new']`

[2017-12-01 07:52] appunni-dishq commented on #5
Same error

[2017-12-01 08:05] appunni-dishq commented on #5
Observation: It works when I only use single Series, But the undefined error is there . Value is shown. But when I add another series value the whole thing becomes 0.

[2017-12-01 08:45] appunni-dishq commented on #5
I figured my issue, I was using single Stat panel.
{1511512636322: {new: 305} },{ 1511512636321: {returning: 28}} but resultHash was giving this as output, so it was forEaching either A or B so when function evaluates either A or B is non existent and result remains 0

[2017-12-01 09:07] appunni-dishq opened #6 "Asynchronous looping over Object Keys"
[code]
forEach is an asynchronous loop which will basically pass control to return value as soon as forEach starts processing. You should be using simple for loop here or be ready for some data lose

[2017-12-01 09:14] dr1s commented on #5
Here is my output from the webconsole.

<img width="1667" alt="metrics" src="https://user-images.githubusercontent.com/7274704/33475792-3fd40a10-d6b2-11e7-8da0-7aba62a53063.png">

[grafana-1512119091559.txt](https://github.com/GoshPosh/grafana-meta-queries/files/1520949/grafana-1512119091559.txt)

[2017-12-01 12:04] #6 closed

[2017-12-18 11:34] alberanid opened #7 "install fails in grafana official Docker image"
Hi,
I'm unable to install the plugin work with the official Grafana Docker image (4.6.2).

The closer I got is creating a Dockerfile like this:

    FROM grafana/grafana
    ADD ./grafana-meta-queries/dist/* /usr/share/grafana/public/app/plugins/datasource/goshposh-metaqueries-datasource/

Then the *MetaQueries* type is shown, when I try to add a new data source, but when I select it I got this er

[2017-12-18 13:44] leeyaokai opened #8 "can't draw add two filed"
Hello sir

What Grafana version are you using? grafana-4.6.2-1.x86_64
What datasource are you using? influxdb-1.3.7-1.x86_64
What OS are you running grafana on? Linux

I tried to add multiple queries for  interface bandwidth , search query as follows

![image](https://user-images.githubusercontent.com/30333131/34107721-37088292-e438-11e7-9d8c-a5fe13e197e5.png)

but  I couldn't find anything in Gra

[2017-12-18 14:18] Gauravshah commented on #8
@leeyaokai can you send me screen shot that shows your panel's data source ?

[2017-12-18 22:01] leeyaokai commented on #8
Thank you for the prompt reply.

This is my panel's data source

![image](https://user-images.githubusercontent.com/30333131/34130118-a25d3e22-e481-11e7-82e3-5d64c22e0cd9.png)

[2017-12-19 01:06] Gauravshah commented on #8
you will need to set the data source of the dashboard to `test1` https://user-images.githubusercontent.com/620559/32334026-493c2d90-bfe1-11e7-96d2-62f5f8529b59.png

[2017-12-19 15:05] Gauravshah commented on #7
Did the following:
[code]
open localhost and add new datasource.

[2017-12-23 06:30] alberanid commented on #7
@Gauravshah : thanks; the problem is that I need to start with the official image; I'll try to adapt your instructions to work with it.  Thanks!

[2017-12-23 07:15] Gauravshah commented on #7
since the plugin is not published with grafana I do not know of a simpler way to do it.

[2017-12-23 08:07] Gauravshah commented on #7
will have to wait for this one https://github.com/grafana/grafana-plugin-repository/pull/183

[2017-12-25 09:18] alberanid commented on #7
thanks, I hope it's included soon, since it very useful!

[2017-12-25 09:18] #7 closed

[2017-12-26 15:07] Gauravshah commented on #5
@dr1s can you try now, added a fix

[2017-12-27 07:33] lilachmaliniak opened #9 "Fail to display expression result in table"
Purpose: create table containing columns for hostname, and node status up/down
The table datasource set to "MetaQuery Datasource"
**added 2 queries:**
 * $datasource is a template parameter containing Elasticsearch (ES) datasource value
A ($datasource) Metrics: Max(private_data.timestamp), Group by:Term(private_data.kes_hostname.keyword)
B (MetaQuery Datasource) Type Arithmetic Expression ((new Da

[2017-12-27 08:34] Gauravshah commented on #9
@lilachmaliniak can you try pulling latest master ? added some defensive code, unsure of underlying issue.

[2017-12-27 09:17] lilachmaliniak commented on #9
Hey @Gauravshah,
pulled latest master updates and restarted grafana-server.
get same error:
TypeError: Cannot read property 'length' of undefined
   stack looks the same.
Do you want me to send additional info?

[2017-12-28 01:41] Gauravshah commented on #9
the stack trace should have been different. can you clear browser cache & try to load ? I am unable to reproduce the scenario on my end.

[2017-12-30 01:07] dcohen24 opened #10 "SingleStat"
I find then when I use a meta query for as single stat, (say for division) I wind up with 0, where as if I do the same division on a time series graph, metaquery performs as expected.

Here is one such example: The metaquery singlestat on the right, is the same division as the one in the time series, and should be the division of the 2 single-stats to the left
![image](https://user-images.githubus

[2018-01-01 22:29] notz commented on #8
Perhaps it's related to influxdb as datasource. I have the same problem and tried all combinations to define a defaut database for project and for graph

[2018-01-02 10:45] notz commented on #8
Sorry, got it working. Needed to add the measurement name -> A['chat.value']

[2018-01-02 11:28] Gauravshah commented on #8
@notz  I am surprised why would influx send it in a different format than others. Druid & Elasticsearch work with a['test1']

[2018-01-02 11:47] notz commented on #10
Perhaps the problem is your choosen timeframe. Arimethic between two queries is not working if you choose somthing like "the last 7 days". Because the queries are executed with a different "now" timestamp, so the series don't have the same timestamp. It's also not working if their is only one datapoint.

The problem is here:
[code]

Their must be an round & match on the timestamp or at least if th

[2018-01-02 11:49] notz commented on #8
@Gauravshah yes it's working if you give the timeseries an alias

[2018-01-02 12:47] dcohen24 commented on #10
ah... totally right... I was using a single data point... when I moved it to something with >1 datapoint, all good

[2018-01-03 13:00] lilachmaliniak commented on #9
Hey @Gauravshah,
Main datasource in Metrics tab: MetaQuery datasource
A: source: MetaQuery datasource, query: ((new Date()).getTime() - B['_value']) < 300000 ? 'up' : 'down'
B: source: $datasource, query: Max private_data.timestamp, Group by: private_data.kes_hostname.keyword

Important: when the query from ES is the topmost in the Metrics, the MetaQuery query is not processed and that Table can c

[2018-01-03 16:10] Gauravshah commented on #9
@lilachmaliniak  can you try swapping the order.
Make `A` from ES and `B` from meta queries ?

[2018-01-03 16:11] sandeen opened #11 "Template variables not used in metaqueries"
From a quick test it seems that dashboard template variables aren't used in metaqueries, i.e. this:

`A['therms']/B['hdd']*99976/24*($base-(-23))`

returns 0 although the dashboard has set the `$base` variable to a value of 65.  Seems like any variable is interpreted as having value 0.

Perhaps `templateSrv.replace` is needed?  Sorry, I don't really speak Grafana very well.  Thanks for the super h

[2018-01-03 16:14] Gauravshah commented on #11
@sandeen yup templating is missing. Will look into it

[2018-01-03 16:14] sandeen commented on #11
Awesome, thank you!

[2018-01-08 08:31] lilachmaliniak commented on #9
@Gauravshah,
Hey,
Sorry, tried above but it didn't do any change.

[2018-01-08 15:52] axelfran opened #12 "Hosted on Grafana.com"
Hi,

Love your work. Do you have any plans to get this up on [Grafana's list of plugins](https://grafana.com/plugins)?

We're currently using a hosted Grafana instance and it seems like we can only install plugins which are hosted there.

Cheers,
/Axel

[2018-01-08 15:57] Gauravshah commented on #12
waiting on https://github.com/grafana/grafana-plugin-repository/pull/183

[2018-01-08 20:44] axelfran commented on #12
Alright. Looking forward to it :)

[2018-01-10 16:18] f1-outsourcing opened #13 "what do I do wrong with this simple arithmetic test?"
![single-stat](https://user-images.githubusercontent.com/13450219/34782881-46491dee-f62a-11e7-8bc9-b568ae2161cb.png)

[2018-01-10 16:46] Gauravshah commented on #13
duplicate of https://github.com/GoshPosh/grafana-meta-queries/issues/10

[2018-01-10 16:46] #13 closed

[2018-01-10 16:48] Gauravshah commented on #13
plugin does not work with single stat

[2018-01-11 08:49] f1-outsourcing commented on #13
Just a bit curious why is this not working for a singlestat? I don’t know anything of grafana, but I would assume that in general the (result of the) queries section is independent from the graphing.

[2018-01-16 13:00] DeslogesB commented on #11
+1 ;-)

[2018-01-17 22:31] notz opened #14 "Add "group by" support for arithmetic calcualtions"
If i have a data source the that is group by time and a tag it's should be possible to do the same calcualtion over the same "groups" and set the output name to the "group".

for ($group in keys(A)) {
  $group = A[$group]*B[$group]
}

[2018-01-18 01:11] Gauravshah commented on #14
@notz unable to understand, can you sent in a screenshot of the configuration ? if you are plotting "translate keys to rows" then it should be doing one row at a time. About translating to column then its a different column

[2018-01-21 21:02] notz commented on #14
![screen](https://user-images.githubusercontent.com/697251/35198914-4d161ec2-fef6-11e7-9746-316238722847.png)
Now i want to add arithmetic to this graph for each grouped value. I don't no the column names because the are changing so it must be dynamic. The arithmetic should be the same for all grouped values.

[2018-01-23 07:13] Gauravshah commented on #5
closing as fixed in https://github.com/GoshPosh/grafana-meta-queries/commit/0edf79b22809f0d5da818eb77bbb87d61bec8fd9

[2018-01-23 07:13] #5 closed

[2018-01-23 07:15] Gauravshah commented on #2
fixed in https://github.com/GoshPosh/grafana-meta-queries/commit/f97f945c20e968d1ed38a5d60437576a0762f53e

[2018-01-23 07:15] #2 closed

[2018-01-26 07:23] Itsmedenise commented on #14
Hi,

I had the same problem lately.
Let's say I want to monitor how good my caching for specific pages works.
I have a metric "cache" with tags for the result (hit or miss) and the name of the page (lets say homepage, productpage, categorypage)
To achieve this you can create 6 queries (homepage hit, homepage miss, productpage hit, productpage miss, categorypage hit, categorypage miss)
A easier way

[2018-02-05 14:18] adjosan commented on #8
hello. i have thé same issue (with influxdb)
can you explain  what is A[‘chat.value’] ?
where i can find it ?

[2018-02-08 08:03] #4 closed

[2018-02-09 21:31] richieri opened #16 "Singlestat problem when dividing two values coming from Elasticsearch"
Hi!

I'm trying to divide two values coming from Elasticsearch, but for some reason I'm getting a "NaN" (Not a number):
![selecao_031](https://user-images.githubusercontent.com/2002125/36050893-68c1ce2c-0dcf-11e8-8470-f7f6a07e9672.png)

When I make any other operation such as sum, multiply or subtraction, it works normaly.

- A['VALUE1']+B['VALUE2']  works great
- A['VALUE1']-B['VALUE2']  works gr

[2018-02-20 17:40] thinkpozzitive commented on #11
+1 for templating support

[2018-02-22 16:28] #10 closed

[2018-02-22 16:50] dcohen24 opened #17 "Timeshift w/influx data source?"
Anyone with any experience?
I can't seem to make it show up properly

![image](https://user-images.githubusercontent.com/16311507/36551833-82fd9612-17c6-11e8-9d84-32cc897c8fbe.png)

[2018-02-22 16:52] Gauravshah commented on #17
@dcohen24 what grafana & influx version are you trying on ?

[2018-02-22 16:53] dcohen24 commented on #17
v4.6.3 grafana
influxdb 1.2.2

[2018-03-01 05:35] nicholasnelson commented on #17
Using Grafana with Influxdb, I found I had to set _Add time shift_ in the _Time Range_ tab to 0h.

If this field is blank, I get the same thing as you, nothing showing up for the time shift metric.

<details>
<summary>With 0h in _Add time shift_:</summary>

![image](https://user-images.githubusercontent.com/7485405/36828469-f158c6c4-1d69-11e8-8fbe-89e9133eb48f.png)

</details>

<details>
<summary>

[2018-03-02 14:25] Teots opened #18 "Arithmetic not working for Singlestat"
I've seen similar issues in the existing issues, but none of them provided any explanation on how to fix it/do it properly.

For this example I created a Singlestat named `A` and in a second one I want to show `A * 3`. Very basic and simple.

![screenshot 2018-03-02 15 18 56](https://user-images.githubusercontent.com/2549326/36903323-b496585e-1e2d-11e8-8fd5-46f16098a4ad.png)

The internal config o

[2018-03-14 03:34] LoadingZhang commented on #11
+1

[2018-03-19 04:56] merturl commented on #17
@nicholasnelson
v5.0.2 grafana
1.4.3-1 influxdb

i have same problem
i try 'with 0h in _add time shift,'
but not working to me
![image](https://user-images.githubusercontent.com/23473356/37578581-36b2bfa6-2b7d-11e8-9fd9-3d4cb3a22da0.png)

'with 0h in _add time shift,'
![image](https://user-images.githubusercontent.com/23473356/37578595-49709406-2b7d-11e8-9b55-fa961a8500ea.png)

[2018-03-22 13:06] kmpardav opened #19 "Trying to send alert notification - png issue"
Hi,
I have created an arithmetic type expression and one alert too.

When the condition of the alert is covered i am taking the email but with no graph lines and an error exclamation mark.

[2018-03-22 14:01] kmpardav commented on #19
Thank you very much

[2018-03-26 09:17] mareksimunek commented on #16
I got same error. Its especially useful when you need express some percentage of two datasources.

[2018-03-26 09:20] Gauravshah commented on #16
@richieri can you check console if you are getting any issues ? I am guessing that one of the number is `NaN` and js fails since then. Probably some try catch would help

[2018-03-27 00:29] Gauravshah commented on #16
Can you add logs from web console ?

On Mon, 26 Mar 2018 at 11:17 PM, richieri <notifications@github.com> wrote:

[2018-03-27 08:38] cosminlof commented on #16
+1

[2018-03-27 22:04] nicholasnelson commented on #17
@merturl The readme for this project says:

I've not done any testing to see if this will work with Grafana 5.x, but I'd guess that's likely your problem.

[2018-03-28 21:09] dcohen24 opened #21 "Group by syntax"
Not sure if this is possible...  but can't tell from the docs.

Can I do arithmatic between 2 data sources that are grouped?

IE DS1  has 3 lines
DS2 has 3 lines
Metaquery has 3 lines where each line is A[$line]/B[$line]

[2018-03-28 21:13] dcohen24 commented on #21
d'oh, just saw the person asking for this below... sorry for not seeing that before

[2018-04-09 21:47] chicco785 opened #22 "it seems that "period" granularity cannot be defined is always day"
it would be nice to be able to use other granularities, such as hour, week, month or year

if this become a variable, the you can use the variable in the different expressions, e.g.:

[code]

looking at the moment lib, this look quite easy: https://momentjs.com/docs/#/manipulating/add/

[2018-04-10 04:38] Gauravshah commented on #22
@chicco785 you are right, it should . not be very complicate the way code is written, can you go ahead an submit a PR. It will take me a while before I can get to it.

[2018-04-12 06:47] wangdongsong opened #23 "property hide undefined"
TypeError: Cannot set property 'hide' of undefined
    at eval (http://host.121:3000/public/app/plugins/datasource/goshposh-metaqueries-datasource/datasource.js?bust=1523514908107:113:25)
    at f (http://host.121:3000/public/app/boot.85c49108.js:48:28473)
    at Function.Pg (http://host.121:3000/public/app/boot.85c49108.js:49:29427)
    at MetaQueriesDatasource._doQuery (http://host.121:3000/publ

[2018-04-12 09:43] Gauravshah commented on #23
can you send screenshot of dashboard  config ?
I think you have not set panel source to "meta queries"

[2018-04-13 02:28] wangdongsong commented on #23
![grafana-meta-query](https://user-images.githubusercontent.com/3016317/38713767-6daa9c2c-3f05-11e8-816f-ab987a115896.JPG)

[2018-04-13 04:37] Gauravshah commented on #23
1st query needs to be influx, second query can reference the first one over PM

[2018-04-20 00:12] changochulo opened #24 "Compatibility with MSSQL"
Im running Grafana 5.1 with the native support for Microsoft SQL as a data source.  I installed this plugin but im unable to get any results with the Arithmetic. Do you know if this plugin will work with my current setup at all?

[2018-04-20 01:55] Gauravshah commented on #24
it works with grafana 5 and sql, can you send you config as a screenshot ?

[2018-04-20 15:41] changochulo commented on #24
Thanks for replying. Im able to add the query using the plugin, I just get no results.
![image](https://user-images.githubusercontent.com/9125405/39060531-78e042a6-4476-11e8-8c13-0bb4e9cd203b.png)

![image](https://user-images.githubusercontent.com/9125405/39060598-a8929508-4476-11e8-867a-e7eccb7747f4.png)

[2018-04-20 16:14] changochulo commented on #24
I was reading more into the instructions and changed my datasource from Mixed to MetaQueries, but Im still not seeing any results. I will play around with it some more.

[2018-04-20 16:41] Gauravshah commented on #24
glad to know it solved

[2018-04-20 16:41] #24 closed

[2018-04-25 14:23] changochulo opened #25 "MetaQueries metrics ALWAYS show last"
Hello,
I have a dashboard with Queries A, B, C,  (D MetaQuery which is an average of ABC), then query E.
On the dashboard, MetaQuery D always shows last. I would like to show metaquery D before Query E but MetaQuery always shows last, no matter the order. The reason i would like to do this is that my panel is in Bars and I would like Query E to be over Query D and only show query D if the number o

[2018-04-25 14:29] Gauravshah commented on #25
@changochulo its a bug due to the way we have tried to implement mixed source. should be able to fix the logic, but would probably take 4-5 weeks before we can get to this

[2018-04-25 14:58] changochulo commented on #25
@Gauravshah ok thanks for the quick response.

[2018-05-03 02:57] kccheung commented on #2
I still have the same error on grafana 4.6.3 after pulling the master code.

[2018-05-03 03:42] kccheung opened #26 "Question: how to access a metric of elastic search query?"
As title and please check the screenshot below, my query D expression `B['Count']` cannot show up any value correctly.

![screen shot 2018-05-03 at 11 41 11](https://user-images.githubusercontent.com/1140487/39559191-f117f336-4ec6-11e8-8ecc-6ccb9033b268.png)

[2018-05-03 03:48] Gauravshah commented on #26
@kccheung you will need to set alias on your first query and then use B['alias']

[2018-05-07 19:06] changochulo commented on #25
@Gauravshah Maybe I can take a peek at the logic. Can you point me in the right direction of where the logic if processed?

[2018-05-08 06:40] Gauravshah commented on #25
Sure thanks. Out on a vacation will be able to give more details after 2
weeks.

But at the top of datasource.js we group all the queries by data source and
that’s where loose ordering.

We will need to reorder towards the end before we return to grafana.

We do the grouping so that individual data sources can optimise calls if
they need to for multiple queries.

On Mon, 7 May 2018 at 9:06 PM, cha

[2018-05-08 09:57] sam5558 opened #27 "Using meta-queries without specifying variables?"
I'm using grafana & [grafana-rrd-server](https://github.com/doublemarket/grafana-rrd-server) to display some rrd metrics.
I'm interested in using meta-queries to do some arithmetic calculations - but it seems that i need to write my queries in this form : `A['variable1'] + B['variable2']`.

The problem that i have is with grafana-rrd-server, as it's displaying metrics on the fly, without using var

[2018-05-13 20:46] Gauravshah commented on #27
I am not sure of how grafana-rdd-server works. Can you post an example of
your dashboard with ‘*’ ?

On Tue, 8 May 2018 at 11:57 AM, sam5558 <notifications@github.com> wrote:

[2018-05-14 10:59] sam5558 commented on #27
Well, i found another way to display the metrics i want & do the caclulations i want directly from my datasource.
So i'll close this issue.
Thanks anyway @Gauravshah .

[2018-05-14 10:59] #27 closed

[2018-05-22 03:48] johnnyb2good opened #28 "Meta-query with Prometheus Data source possible?"
Hi there.  Similar to the question from [https://github.com/GoshPosh/grafana-meta-queries/issues/27](url),
is there a way to reference query lines from a Prometheus data sourced query without using a variable for the meta-query?  There does not appear to be a way to assign Prometheus queries to a variable in Grafana.

See screenshot for example.  The metaquery does not reference C or D properly re

[2018-05-22 12:37] Gauravshah commented on #28
@johnnyb2good you need to set panel data source to "metaquery".
I do not know of a way to query without the reference. I have not used prometheus with grafana so unsure how would it work. But I think if you show the graph, there must be some legend that grafana gives probably use the same ? A['grafana_name'] something like that

[2018-05-22 21:01] johnnyb2good commented on #28
That works, thanks!

- Panel data source needed to be metaquery
- The prometheus queries have to come before the metaquery
- The "Legend format" name is what needs to be used in the metaquery reference.  In the example above, like: C['total completed count']
- Recreating the above pictured panel with the above considerations got it working as expected.

Thanks again!

John

[2018-05-24 23:38] chriswue commented on #16
Remember that the underlying data is still a time series grouped into buckets. If any of the buckets have a value of 0 then the arithmetic expression will produce NaN (since it's evaluated per bucket) and consequently the single stat value will be NaN since NaN is sticky (i.e. arithmetic operation like Sum or Avg with NaN will produce NaN).

The easy way to fix this is to us the conditional operat

[2018-05-25 15:14] #28 closed

[2018-07-05 07:35] gwuillou opened #29 "bug in arithmetic metaqueries"
I am doing a sum of 3 queries A + B +C . I get the follow result:

![issues_mq](https://user-images.githubusercontent.com/20662503/42308580-4ce44908-8036-11e8-96da-d5339df42235.png)

But if I zoom out, there is not anymore this 0 value in the left corner and everything works.

I am using influxdb and grafana 5.1.3.

[2018-07-05 07:39] Gauravshah commented on #29
@gwuillou when zoomed-in  are the results correct ?
When zoomed out are able to see A,B,C ( without applying A+B+C Query) ?

[2018-07-05 07:49] gwuillou commented on #29
Here different zooms. There is not always the problem apparently!

![issues_mq2](https://user-images.githubusercontent.com/20662503/42309328-8c24d7d4-8038-11e8-81ea-8bbc605cbf27.png)
![issues_mq3](https://user-images.githubusercontent.com/20662503/42309329-8c3bc0fc-8038-11e8-9c3d-bf095b801737.png)
![issues_mq4](https://user-images.githubusercontent.com/20662503/42309330-8c530776-8038-11e8-9472-8bf

[2018-07-05 08:41] Gauravshah commented on #29
can you send a screenshot of your panel as well ( dashboard config )

[2018-07-05 10:22] gwuillou commented on #29
[issues_MQ7.pdf](https://github.com/GoshPosh/grafana-meta-queries/files/2166130/issues_MQ7.pdf)

[2018-07-05 11:19] Gauravshah commented on #29
I think the problem is because metaqueries does not assume null as 0. So for the sections where 1 of the (a,b or c ) value is null then the resultant D is null. You can probably try (((a)? a :0) + ((b)? b :0) + ((c)? c :0))

[2018-07-06 08:43] gwuillou commented on #29
Hello,
I have tried your proposition without success: (((A['siesa'])?A['siesa']:0)+((C['djeva'])?C['djeva']:0)+((B['sinergy'])?B['sinergy']:0))
I don’t know if you are other idea?

Thank for your help,

Gaëtan

[2018-07-09 09:21] jaerie opened #30 "Question: How to refer to Elasticsearch metric from MetaQuery TimeShift"
Hi, similar question to #26 , I can't seem to reference the data from another query in a timeshift. I have attached a screenshot to clarify.
I have tried several combinations and options, but no data appears in the timeshift query
![screenshot from 2018-07-09 11 09 43](https://user-images.githubusercontent.com/9830863/42442135-31f689d0-836a-11e8-9f0e-0856a7040abb.png)

[2018-07-09 09:28] Gauravshah commented on #29
I am not sure, I am unable to reproduce the error on my end. Looks to me that one of the datapoint is throwing the graph off. Can you try plotting a table instead and look at the odd data point ?

[2018-07-09 09:31] gwuillou commented on #29
When I am exporting the csv:

Conso_FMV;2018-07-05T21:00:00+02:00;30.117048
Conso_FMV;2018-07-05T21:15:00+02:00;29.324952
Conso_FMV;2018-07-05T21:30:00+02:00;29.627704
Conso_FMV;2018-07-05T21:45:00+02:00;29.00208
Conso_FMV;2018-07-05T22:00:00+02:00;29.310443999999997
Conso_FMV;2018-07-05T22:15:00+02:00;29.481824
Conso_FMV;2018-07-05T22:30:00+02:00;28.184124
Conso_FMV;2018-07-05T22:45:00+02:00;28.6

[2018-07-09 09:39] Gauravshah commented on #29
can you give a try to `(((A['siesa'])?Math.round(A['siesa']*100)/100:0)+((C['djeva'])?Math.round(C['djeva']*100)/100:0)+((B['sinergy'])?Math.round(B['sinergy']*100)/100:0))`

[2018-07-09 09:41] gwuillou commented on #29
Always the same problem!

[2018-07-09 09:43] Gauravshah commented on #29
its hard to debug without that dataset

[2018-07-09 09:47] gwuillou commented on #29
Perhaps it can help you:

[2018-07-22 06:08] tanuj83 commented on #8
my query "A" has alias as "chat"
but when try on this plugin under Arithmetic  Type, no metrics generated for plugin
I tried with both A['chat.value'] and A['chat']

[2018-07-23 06:00] Gauravshah commented on #8
@tanuj83 is your panel plugin set to metaqueries ? can you send a screenshot of dashboard config ?

[2018-07-23 06:53] tanuj83 commented on #8
@Gauravshah I am able to get metrics after selecting Datasource as MetricCalc while it was mixed when not able to see metrics and using A['chat'] only

but result of the metrics is not good.

#A  sends metrics every minute
#B  sends metics every 2 min
#C =  #B/#A  it sends 0 value or NAN

[2018-07-23 16:13] Gauravshah commented on #8
can you check if it display just A['chat']/A['chat.value']  via arithmetic ?

[2018-07-24 11:23] tanuj83 commented on #8
@Gauravshah  not able to see data if I use A['chat.value'].  I used A['chat']

[2018-07-24 11:37] Gauravshah commented on #8
then I think `B['chat']/A['chat']` should work

[2018-07-24 12:20] tanuj83 commented on #8
I can get data for both B['chat'] and A['chat'] but when use MetricsCalc for B['chat']/A['chat'], I get value 0.
B['chat']  > A['chat']   always

[2018-07-24 12:41] tanuj83 commented on #8
@Gauravshah it is working for me now.  How can we do this?

B['chat']/(A['chat'] + D['chat'])

[2018-07-24 12:49] tanuj83 commented on #8
it works only after moving MetricCalc metrics after D

[2018-08-24 20:57] benmathews opened #32 "Graphite references are not working"
When trying to reference a graphite metric, I get JS errors in the console log and no value for the Meta metric.

[code]

I believe that the problem is that in my prometheus sample, a legendFormat key is created. This doesn't exist on the graphite metric
![screenshot from 2018-08-24 14-55-08](https://user-images.githubusercontent.com/446380/44607524-fa943d80-a7ad-11e8-97ea-71f76f378ba6.png)

[2018-08-25 02:04] Gauravshah commented on #32
can you confirm if its related to https://github.com/grafana/grafana/issues/11461 ?
we have seen graphite not working

[2018-08-27 22:01] benmathews commented on #32
Garbage, it looks like that is the problem. I see the same `Panel request canceled` error. I was looking forward to using this.

[2018-08-27 22:01] #32 closed

[2018-09-05 12:19] SindhujaSoundarapandian opened #33 "Timeshift : No data in graph panel after adding timeshift function with interval value in periods field"
Hello,

I have a requirement of comparing past metrics with current metrics in same panel, Is there a way to achieve the same in metaqueries ?

Below is the table where we want to plot the trend across the builds which was executed by different timeranges

Buildno  transaction1  transaction2
121         899                8589
122         5435              5346
123         889                900

[2018-09-05 15:47] Gauravshah commented on #33
can you send in a screenshot of your dashboard config? also is your panel's data source set to metaqueries ?

[2018-09-06 03:48] Gauravshah commented on #33
don't see you attachment

[2018-09-06 04:43] SindhujaSoundarapandian commented on #33
Hi

Sorry i couldn't attach the screenshot, can you help me in attaching the same ?

Thanks,
Sindhuja

[2018-09-06 14:17] DeepambikaNagarajan opened #34 "Comparing two execution metrics on same panel of Grafana using Metaqueries(Time shift) is not working"
Hi,

I want to compare two execution metrics with different time ranges in the same panel of Grafana (The graphs need to overlap one another). To achieve this I have used Meta queries for time shifting but it is not working for me. It is not getting overlapped the graph for both the execution is still separated.

Please help me to resolve this issue.

Thanks in advance

Regards,
Deepa.

[2018-09-06 15:08] Gauravshah commented on #34
can you send in a screenshot of your dashboard config? also is your panel's data source set to metaqueries ?

[2018-09-07 04:26] DeepambikaNagarajan commented on #34
Hi,

Please find the attachment of Data source and dashboard config.

Data Source of Meta Queries:

[cid:image003.jpg@01D44690.F4F4B5E0]

Dashboard Config (Before adding Time shift)

[cid:image005.jpg@01D44690.F4F4B5E0]

Dashboard Config (After adding Time shift)
[cid:image007.jpg@01D44690.F4F4B5E0]

And I also need to Parameterize the “buildNo” here like, If the user select the desired build numb

[2018-09-07 07:48] Gauravshah commented on #34
don't see any screenshot

On Thu, Sep 6, 2018 at 9:26 PM DeepambikaNagarajan <notifications@github.com>
wrote:

[2018-09-18 14:48] richieri commented on #16
Dear @Gauravshah ,

Sorry the long delay in sending it.

I'm not sure how I can find more information in the browser console log. I got no errors apparently there.

I opened the Object generated by the datasource, but I can't find any evidences:

https://pastebin.com/g7vQn5sF

Please, can you teach me what should I do to get more information in order to help solving this issue?

Thanks

[2018-09-18 14:51] richieri commented on #16
Dear @chriswue, as I mentioned, B['VALUE2'] has the value of 2000 for example. I think the problem is not dividing by 0. Maybe it's something particular when evaluating values coming from Elasticsearch.

[2018-09-18 14:58] richieri commented on #16
This is what I want it for also

[2018-09-18 15:53] Gauravshah commented on #16
so for some reason singlestat panel is expecting only one value. I am not sure if metaqueries as a plugin can take care of it

[2018-09-24 14:41] matthicks05 opened #36 "Adding additional CloudWatch query causes Arithmetic MetaQuery to show "clipped" results"
I'm successfully using MetaQueries (great feature!) to calculate some DynamoDB cloudwatch metrics by taking a sum of the write_capacity metric and dividing it by 60 using an Arithmetic query.

![image](https://user-images.githubusercontent.com/7862124/45958427-08bbc080-bfdd-11e8-8c75-c7d1361cbb0b.png)

Once I add another CloudWatch query, in this case the "Provisioned Write Capacity", which is ess

[2018-09-24 16:03] Gauravshah commented on #36
Can you plot a table instead of graph with same configuration ? That will
give us some idea as to what are the datapoints

On Mon, 24 Sep 2018 at 8:13 PM, matthicks05 <notifications@github.com>
wrote:

[2018-10-08 02:34] sunnut commented on #14
@notz
I had the same problem, and the solution is as follow:
https://github.com/sunnut/grafana-meta-queries

[2018-10-08 05:05] Gauravshah commented on #14
@sunnut Thanks for brining up interesting feature. Can you raise a PR after rebasing latest changes ? that way all us would be able use it.

[2018-10-11 20:37] ggajanan opened #41 "Data source creation error"
I installed this plugin on latest grafana 5.3.0 version. While trying to create the datasource, it's failing with following error when clicked 'Save & Test' button

[code]

![image](https://user-images.githubusercontent.com/23700404/46832419-f62ede80-cd73-11e8-9ff1-64a1d9d3f874.png)

[2018-10-15 04:39] Gauravshah commented on #41
@ShilpaSivanesan I do not see any breaking changes from grafana side. Anything simple that we can do to fix it ?

[2018-10-28 09:52] audriusbugas opened #43 "The datasource does not support alerting queries"

[2018-10-28 09:52] audriusbugas commented on #43
Basically alerts are not possible. That would be very useful. Especially with ElasticSearch integration

[2018-10-29 01:56] Gauravshah commented on #43
duplicate of  https://github.com/GoshPosh/grafana-meta-queries/issues/19

[2018-10-29 01:56] #43 closed

[2018-10-29 01:57] Gauravshah commented on #19
would have to wait on this https://github.com/grafana/grafana/issues/6841

[2018-10-29 06:16] ShilpaSivanesan commented on #41
@ggajanan I tried installing the plugin on grafana versions 5.30 and 5.3.2. I don't see any error with adding datasource

<img width="976" alt="screen shot 2018-10-28 at 11 13 35 pm" src="https://user-images.githubusercontent.com/34906268/47632443-57420a80-db07-11e8-924d-6efa43edb0e5.png">

[2018-10-29 06:54] Gauravshah commented on #41
@ggajanan did you try latest code from master ?

[2018-11-27 02:00] sunnut commented on #30
@Gauravshah, the tilte show the ds is ES. Does that supported?I have the same problem

[2018-12-21 12:36] Dylantje opened #44 "Cannot install on latest version"
Dear i try to install this plugin to the latest grafana version only i get error:
`i@raspberrypi:~ $ grafana-cli plugins install goshposh-metaqueries-datasource
installing goshposh-metaqueries-datasource @ 0.0.1
from url: https://grafana.com/api/plugins/goshposh-metaqueries-datasource/versions/0.0.1/download
into: /var/lib/grafana/plugins

Failed downloading. Will retry once.
Failed downloading. W

[2019-02-05 12:19] TheRealKerni commented on #29
I have similar drawing issues. I can reproduce it when showing 2 datasets with data available in different time intervals and selecting an 'group by time()' interval that is smaller than the first but larger than the second.

E.g. Dataset 1 is available in 10 Minutes interval, dataset 2 in 5 Minutes intervals. using 'group by time(10m)' shows nice graphs, but using 'group by time (5m)' shows issue

[2019-02-05 12:27] TheRealKerni opened #45 "Problems with arithmetic queries"
Hi there,

first of all thanks so much for this plugin. It really helps a lot getting around limitations when using InfluxDB in my case!

I am trying to create a combined chart (energy consumption) of multiple items. In addition I have the value of the total energy consumption and would like to provide a "Rest" item using MetaQueries.

Basically something like: `A['Total']-B['PVGeneration']-C['Hea

[2019-02-05 14:57] zegerhoogeboom commented on #45
I believe `E['WashingMachine']` will already fail due to `E` being undefined. From the top of my head, something like `{your query} - (E && E['WashingMachine'] ? E['WashingMachine'] : 0)` might work.

[2019-02-05 15:00] TheRealKerni commented on #45
Perfect, thank you! Why didn't I think of this :)

[2019-02-05 15:00] #45 closed

[2019-02-05 15:13] Gauravshah commented on #45
thanks @zegerhoogeboom
@TheRealKerni Can you please raise a different issue for textbox size, will try to add it for next release

[2019-02-05 16:04] TheRealKerni opened #46 "Increase input field size"
I'd love to have the input field being much wider so I can see the actual long formulas and don't have to copy them to a text editor all the time :)

[2019-02-05 16:04] TheRealKerni commented on #45
Done at https://github.com/GoshPosh/grafana-meta-queries/issues/46

[2019-02-06 03:35] Gauravshah commented on #29
@TheRealKerni yup that scenario makes sense. but I am unsure if we can default numbers to 0. Its more general grafana issue than this plugin itself. I think it behaves in the same way if a datasource itself would have had no points in that location

[2019-02-07 11:04] artjomzab commented on #18
https://github.com/GoshPosh/grafana-meta-queries/issues/16

[2019-02-10 17:48] TheRealKerni opened #47 "Grafana option "Min time interval" not available"
Hi,

when using MetaQueries with a set of InfluxDB (or ElasticSearch according to the Grafana documentation) queries, the option to set "Min time interval" is not available.

Would it be possible to allow this also to be set with MetaQueries?

Thanks,
Andreas

[2019-02-11 05:13] Gauravshah commented on #47
hello,
Went through the documentation here http://docs.grafana.org/features/datasources/mysql/#min-time-interval
it seems datasource specific option than a generic one. meta-queries by itself doesn't have any interval. Its the underneath query that has it. So if you are doing MetaQuery B on top of Influx Query A, It would work as long as Influx Min Time interval is set correctly.  That is of cours

[2019-02-11 09:55] TheRealKerni commented on #47
Hi,

correct it is data source specific. The problem is when I am choosing "MetaQueries" as a data source, I can't specify this for any "sub" InfluxDB datasources. Grafana only provides this at the top level data source or when using "Mixed" instead of MetaQueries at the top level.

But with the "Mixed" option it is not possible to use MetaQueries. Maybe there is a way to enable the same behaviour

[2019-02-11 10:06] Gauravshah commented on #47
can you point some example screenshot & documentation to it ? I did some search but failed to find examples

[2019-02-11 10:11] TheRealKerni commented on #47
Absolutely, here is a screenshot with "Data Source" set to "--Mixed"-- showing the option for "Min time interval"

<img width="515" alt="screenshot" src="https://user-images.githubusercontent.com/42185/52556765-cfe68180-2ded-11e9-81dc-5332f2505e4b.png">

[2019-02-11 10:17] Gauravshah commented on #47
thanks @TheRealKerni Makes sense. If you can test and open a PR it would be of great help. We are held up building backend plugin for sometime few weeks.

[2019-02-11 10:18] TheRealKerni commented on #47
I'll give it a go :)

[2019-02-15 07:43] kantsuw opened #50 "Arithmetic calculation across difference datasource is not work ?"
As test to calculate between elasticsearch to elasticsearch , influx to influx
This plugin work very well.

However , I try to calculate across between elasticsearch & influx
it not work.

Is there any example of calculation across datasource ?

[2019-02-16 14:20] TheRealKerni commented on #47
I guess we  can close this. Thank you!

[2019-02-16 14:20] #47 closed

[2019-02-16 14:24] TheRealKerni commented on #29
I am not sure what is going on yet, tried to debug a bit but haven't find the cause.

But I have a small example animated gif that may help.

The data source has data that is fetched once a minute, the minimum interval for the chart is set to 5 minutes. When showing the influxDB data, everything is fine, when showing the MetaQuery instead it acts app. I found that the timestamp of the last item wh

[2019-02-18 04:49] ShilpaSivanesan commented on #50
@kantsuw I have verified across redshift and druid data source. It works well
could you add screenshots of your example?

[2019-02-18 04:59] kantsuw commented on #50
It my faluse, the alias in expression is not corrent.

[2019-02-18 04:59] #50 closed

[2019-02-19 10:58] Gauravshah commented on #29
@ShilpaSivanesan we should see if this problem exists in a generic fashion. Lets look into this one next week.

[2019-02-19 12:52] nanicpc commented on #11
Are you going to work on this soon?

[2019-02-25 17:25] TryTryAgain commented on #26
I had a similar issue and it was because I didn't follow the first step "Set the panel datasource as MetaQueries" ... if your default datasource is not MetaQueries that may be your issue as well.

[2019-03-13 16:00] noym94 opened #52 "Can't use with influx DataSource"
Hi,
I want to create a single-stat panel that will show me a percentage of the number of events from type X out of the number of events of type Y.
e.g:

A:
SELECT count("value") FROM "events" WHERE ("producttype" = 'RV' AND "eventname" = 'initAdFail' AND "abtest" =~ /^$abtest1$/) AND $timeFilter GROUP BY time($__interval) fill(null)

B:
SELECT count("value") FROM "events" WHERE ("producttype" = 'R

[2019-03-18 19:38] johntdyer opened #53 "Cut new release"
The released on grafana appears to bne 0.0.1
[code]

it appears there is significant development since 2017 so I'd like to new a new release cut

[2019-03-19 02:03] Gauravshah commented on #53
@ShilpaSivanesan

[2019-03-21 22:02] pmb311 commented on #16
I ran into this as well and was able to get around it by:
1) use an interval of 2m for your ES queries (this ES dataset is updated once a minute)
2) in the bottom row, set 'min time interval' to 1m and 'time shift' to 2m
3) Specify your metaquery as normal: A['DIVIDEND']/B['DIVISOR'] * 100

[2019-05-07 12:00] victr opened #54 "No output for Arithmetic and exception for TimeShift and MovingAverage"
Hi
I've tried with the same settings as shown in the readme, but it doesn't work.
For Arithmetic there's no line on the graph
![image](https://user-images.githubusercontent.com/1419684/57297530-19cec300-70d0-11e9-8189-aa1df09c946c.png)
And for TimeShift and MovingAverage it fails with an exception:
[code]

[2019-05-07 16:38] Gauravshah commented on #54
your panel data source needs to be grafana, you have set it as Mixed
<img width="1532" alt="Screen Shot 2019-05-07 at 9 37 50 AM" src="https://user-images.githubusercontent.com/620559/57316987-e0845c00-70ab-11e9-9aa7-6a1002b3e0cc.png">

[2019-05-08 08:30] victr commented on #54
Grafana ds equals random test data, at least with my grafana configuration. Afaiu mixed is the only way to combine two different datasources, and meta queries is a datasource.
![image](https://user-images.githubusercontent.com/1419684/57361259-5657f880-717c-11e9-883a-5765a1db44db.png)

[2019-05-21 11:14] torkelo opened #55 "Add hiddenQueries: true to plugin.json for v6.2+ support with hidden queries"
Starting in v6.2 Grafana will filter out hidden queries before sending them to data sources as 90% of data sources do not need them and have to remember to filter them out themselves.

But some data sources that have queries that can refer to other queries still need hidden queries.

So add :
"hiddenQueries": true,

to plugin json.

[2019-05-21 11:14] torkelo commented on #55
https://github.com/grafana/grafana/pull/17124

[2019-05-22 08:38] Gauravshah commented on #54
@victr can you try setting data source as "Meta queries" instead of "Grafana"

[2019-05-22 10:25] victr commented on #54
I've moved on to a different plugin, but thanks for your help.

[2019-05-23 07:16] Denagar opened #56 "Dashboard is failing when using Meta Query + Grafana 6.3"
hi,
i have a problem using Meta query on Grafana 6.3 Nightly.
when changing the dashboard to Meta Query and adding a "Meta query" Query the dashboard gets stuck. and the web page needs to be reloaded.

![image](https://user-images.githubusercontent.com/33426057/58232882-5c84d200-7d43-11e9-8622-749b0298dc6c.png)

i tried the recommendation
Add hiddenQueries: true to plugin.json for v6.2+ support wi

[2019-05-23 07:36] Gauravshah commented on #56
what was the earlier version on which it worked for you ?

[2019-05-23 07:37] Gauravshah commented on #54
@victr curious, what other plugin supports multiple metrics ?

[2019-05-23 07:46] Gauravshah commented on #56
also looks like its ending up in some infinite loop, unsure if its issue because of nightly build

[2019-05-23 14:19] Denagar commented on #56
hi, it worked on 6.1 if i am not mistaken.

[2019-05-24 17:16] victr commented on #54
@Gauravshah mine does :) but no sliding window yet https://github.com/liquidm/grafana-mixtransform/

[2019-05-25 02:33] Gauravshah commented on #54
cool, arithmetic does support what you are trying to rewrite

[2019-05-25 02:33] #54 closed

[2019-05-26 08:33] Denagar commented on #56
so any chance this would be resolved? Do you think it's only related to the nightly versions?
is there any way it can be fixed before ?

appreciate your help

[2019-05-26 15:15] Gauravshah commented on #56
We are sorry but we would not be able to take up this for time being, we are open and welcome any PRs though, thank you for your contribution

[2019-05-29 16:22] torkelo commented on #56
probably related to https://github.com/GoshPosh/grafana-meta-queries/issues/55

adding hiddenQueries: true should fix it, but you need to restart grafana server after change

[2019-05-30 12:36] #55 closed

[2019-05-30 12:40] Gauravshah commented on #53
released https://github.com/GoshPosh/grafana-meta-queries/releases/tag/0.0.2

[2019-05-30 12:49] Gauravshah commented on #53
created a PR on plugin repo https://github.com/grafana/grafana-plugin-repository/pull/438

[2019-05-31 14:23] openspirulina commented on #52
no answer yet? with influx datasource it is not represennting anything...

[2019-05-31 14:28] Gauravshah commented on #52
@openspirulina is it not working with singlestat or any visualization ?

[2019-05-31 14:30] Gauravshah commented on #52
@noym94 were you able to get this working with other type of visualization ?
there is a known issue on singlestat https://github.com/GoshPosh/grafana-meta-queries/issues/10 & https://github.com/GoshPosh/grafana-meta-queries/issues/16

[2019-05-31 14:49] openspirulina commented on #52
with any...
SELECT mean("T1_s") FROM "sensors" WHERE ("culture" = 'BCN_01' AND "host" = 'arduino01') AND $timeFilter GROUP BY time($__interval) fill(none)

SELECT count("T1_b") FROM "sensors" WHERE ("culture" = 'BCN_01' AND "host" = 'arduino01' AND "city" = 'BCN') AND $timeFilter GROUP BY time($__interval) fill(none)

metaqueries artimetic : (A['T1_s']+B['T1_b'])/2
niether metaqueries moving avera

[2019-05-31 16:17] Gauravshah commented on #52
@openspirulina what version of grafana are you using.
Can you also send in screenshot of your dashboard config ?

[2019-06-01 06:14] Gauravshah commented on #56
tried with the latest build `Grafana v6.3.0-pre (be66ed9)` and it works good.
<img width="1403" alt="Screen Shot 2019-05-31 at 11 12 27 PM" src="https://user-images.githubusercontent.com/620559/58744585-b0558200-83f9-11e9-9504-e78c0ea7ec99.png">

[2019-06-03 18:47] openspirulina commented on #52
grafana on a raspberry pi:
version Grafana v6.2.0 (5d16da7)
![grafana 2](https://user-images.githubusercontent.com/36246224/58826295-b1c4bb80-8640-11e9-8aaa-95047b93b853.png)

[2019-06-04 03:04] Gauravshah commented on #52
@openspirulina  group by queries are not supported. https://github.com/GoshPosh/grafana-meta-queries/issues/14

[2019-06-05 22:48] bmanth60 opened #58 "Update plugins.json with new version"
I see that a new release of this plugin for 0.0.2 was created 6 days ago but I don't see the new version available on https://grafana.com/plugins/goshposh-metaqueries-datasource. Should the plugins.json also be updated with the version? https://github.com/GoshPosh/grafana-meta-queries/blob/master/src/plugin.json#L15

[2019-06-06 05:26] #58 closed

[2019-06-06 05:43] Gauravshah commented on #58
thanks @bmanth60

[2019-06-06 05:44] Gauravshah commented on #55
thanks @torkelo

[2019-06-06 05:45] Gauravshah commented on #56
@Denagar did you get a chance to try it out  ?

[2019-06-06 07:21] Denagar commented on #56
hi,
i added the hiden queries line to both files on the server and restarted the server.
but still the same behavior.

i created a metaquery panel worked fine.
i add a data source from ES - still fine
i add the metaquery Query - browser get stuck and i need to reload the webpage.

i checked the version i have and it is Grafana v6.3.0-pre (commit: 744682e)

but when i try to install the latest vers

[2019-06-06 07:38] Denagar commented on #56
i have tried to update to 0.02 but i am getting access denide when doing git clone. and installing using grafana cli installes 0.0.1 - any suggestions ?

[2019-06-06 08:53] Gauravshah commented on #56
@Denagar I am not sure why the issue is. Since I am unable to reproduce the issue it would be difficult to fix it. If you can open inspecter on chrome and see where the loop is, it can help.

[2019-06-18 16:03] tiago-cruz-movile opened #60 "Problem with ElasticSearch and Arithmetic"
Hello,

I have this example, using Grafana 6.2 with ElasticSearch 5.6:

![image](https://user-images.githubusercontent.com/4048174/59699970-dc7a4c80-91c8-11e9-8a1b-514e2b946da3.png)

Values:
- deliveredAt: `11:43:25`
- sentAt: `11:30:59`

![image](https://user-images.githubusercontent.com/4048174/59700122-18adad00-91c9-11e9-8b73-23a62f5bbaff.png)

- Using 'Date & Time' just to check vs 'None' unit

[2019-06-19 04:58] Gauravshah commented on #60
are you using single stats with `avg`. Its likely that it is dividing by 90 days of your date range.
<img width="424" alt="Screen Shot 2019-06-18 at 9 57 08 PM" src="https://user-images.githubusercontent.com/620559/59737874-1b81bf80-9214-11e9-8b3c-91458c350ab5.png">
<img width="509" alt="Screen Shot 2019-06-18 at 9 56 59 PM" src="https://user-images.githubusercontent.com/620559/59737877-1de41980-9

[2019-06-27 03:59] Gauravshah commented on #22
fixed in #61 & #62

[2019-06-27 03:59] #22 closed

[2019-06-27 04:00] #53 closed

[2019-06-27 04:01] Gauravshah commented on #60
@tiago-cruz-movile can we close this ?

[2019-06-27 13:04] #60 closed

[2019-06-28 14:37] wildekek commented on #11
+1

[2019-06-28 14:37] wildekek commented on #11
A hack is to save the dashboard with variables for now

[2019-07-16 02:09] pysome commented on #30
just like this issues. But , i get the tips: "Cannot set property 'hide' of undefined" , what's wrong?
@jaerie  @Gauravshah
![image](https://user-images.githubusercontent.com/35023779/61260633-8beb1480-a7b1-11e9-8f04-ed451396c808.png)

Thanks

[2019-07-16 02:44] Gauravshah commented on #30
your "Queries to : Mixed" should be changed to "Queries to : MetaQueries"

[2019-07-16 04:34] pysome commented on #30
Thx again。

Gaurav M Shah <notifications@github.com> 于2019年7月16日周二 上午10:44写道：

[2019-08-01 21:55] tiago-cruz-movile commented on #29
Hello,

I have two timestamps, and I would like to see the difference between using `B['dequeuedAt']-A['routedAt']`

Sometimes I've got strange negative values, like this:

![image](https://user-images.githubusercontent.com/4048174/62329961-bc0f0480-b48d-11e9-9e4b-1c06ec57136b.png)

How can I avoid null values?

I've tried
`(((B['dequeuedAt'])? B['dequeuedAt'] :0) - ((A['routedAt'])? A['routedAt']

[2019-08-05 02:22] Gauravshah commented on #29
@tiago-cruz-movile you should put it on a table to see what results do you get.
also you can try `(  (B['dequeuedAt']  && A['routedAt'])? B['dequeuedAt'] - A['routedAt'] : 0 )`

[2019-08-07 06:00] nibinqtl commented on #56
I have the same issue here. 6.3 with 0.01 or 0.02.
6.2.1 with 0.01 worked well.

[2019-08-07 06:38] nibinqtl commented on #56
Here is what I can find from the console of Chrome
![image](https://user-images.githubusercontent.com/16727726/62600281-55ca1d80-b8a3-11e9-8509-7b1045c6096a.png)

[2019-08-07 08:30] Gauravshah commented on #56
@nibinqtl what is you panel looking like ?

[2019-08-07 09:14] Anton0 commented on #56
Getting this as well

Grafana v6.3.0 (830da0f)
MetaQueries: 0.0.2 (installed via cli)

Steps to reproduce:
1. Create new panel -> Add Query
2. Change Query Type from Default to MetaQueries
3. Select Add Queries "MetaQueries"
4. Browser unresponsive.

In the screenshot for your successful test I noticed you hadn't added the MetaQueries Query yet only TestData DB (I may be reading that wrong though)

[2019-08-09 17:28] Melkor82 commented on #56
having the very same problem

[2019-08-15 05:00] DaveTaboola opened #66 "Question, which function do work? and which data sources are supported?"
Hi there
We've deployed the plugin on our grafana environment and so far for all tests we've preformed we didn't get any result

Maybe it's important to note we've tested it against Prometheus and mainly arithmetic function (such as A-B and other complex stuff)

[2019-08-15 07:20] Gauravshah commented on #66
Can you send a screenshot of you panel ?
In theory it is independent of data source so should work.

On Thu, 15 Aug 2019 at 10:30 AM, DaveTaboola <notifications@github.com>
wrote:

[2019-08-15 07:49] DaveTaboola commented on #66
As you can see the line isn't being generated :\
![Screen Shot 2019-08-15 at 10 48 34](https://user-images.githubusercontent.com/8363616/63080640-49e8f600-bf4a-11e9-8b2d-f95c100d7268.png)

[2019-08-15 07:50] DaveTaboola commented on #66
You can see that it's created in the legend but theres no actual metric (or line)
![Screen Shot 2019-08-15 at 10 45 54](https://user-images.githubusercontent.com/8363616/63080672-5ff6b680-bf4a-11e9-97db-8164eab8c12d.png)

[2019-08-15 09:39] Gauravshah commented on #66
your panel data source needs to be `Metaqueries` instead of `mixed`

[2019-08-15 10:22] DaveTaboola commented on #66
Thanks @Gauravshah
I'll try to open a pull request, to make the README more clear (4 people in my company worked on making it work :P)

[2019-08-15 11:00] Gauravshah commented on #66
Please go ahead

[2019-08-16 09:27] Gauravshah commented on #56
@Melkor82 @Anton0 @nibinqtl can you please try out this branch https://github.com/GoshPosh/grafana-meta-queries/pull/64 ?

[2019-08-18 23:52] Anton0 commented on #56
Works perfectly for me, thank you! :+1:

[2019-08-19 08:08] Denagar commented on #56
once i changed the files it worked for me also !!!! thanks so much for your help

[2019-08-19 08:08] #56 closed

[2019-08-19 21:12] Melkor82 commented on #56
Works!

[2019-08-20 00:31] nibinqtl commented on #56
Worked for me too.

On Mon, Aug 19, 2019 at 2:12 PM Marco <notifications@github.com> wrote:

--

Bin Ni
VP of Engineering
[image: Quantil]

Connecting users with content...it's that simple.

Office: +1-888-847-9851 <(888)%20847-9851>

[image: Tweeter] <https://twitter.com/Team_Quantil>  [image: Google Plus]
<https://plus.google.com/+Quantil_team/>  [image: Linked In]
<https://www.linkedin.com/comp

[2019-08-20 12:32] dohr83 commented on #56
Same behavior, worked for me too

[2019-08-20 14:19] justinvdm opened #67 "MetaQueriesDatasource.query infinite loop in grafana 6.3"
`MetaQueriesDatasource` appears to rely on the [`name` property being assigned](https://github.com/GoshPosh/grafana-meta-queries/blob/master/src/datasource.js#L51) in order to tell whether it is dealing with itself, or with a different data source.

Since `6.3` however, grafana seems to [no longer assign `name`](https://github.com/grafana/grafana/compare/v6.2.5...v6.3.0#diff-894468679ebfe67fc2c22f

[2019-08-20 14:20] Gauravshah commented on #67
duplicate of https://github.com/GoshPosh/grafana-meta-queries/issues/56

[2019-08-20 14:20] #67 closed

[2019-08-20 14:22] justinvdm commented on #67
Woops, sorry for missing this, and thank you for the quick reply.

[2019-08-20 14:24] Gauravshah commented on #67
Thank for finding out the details. I am unable to load the grafana diff due to timeout. Can you point to the commit that changed this behaviour ? It doesn't seem documented

[2019-08-20 14:48] justinvdm commented on #67
Sure :) It was [1d7bb2a](https://github.com/grafana/grafana/commit/1d7bb2a#diff-894468679ebfe67fc2c22f7575f9e2c2).

[2019-08-20 14:50] Gauravshah commented on #67
thank you @justinvdm

[2019-08-20 17:18] tomIharaRznde commented on #56
Doing the changes manually in my MetaQueries worked like a charm!

[2019-08-20 22:10] Elbandi commented on #56
Confirmed! Patch works!

[2019-08-21 14:51] Gauravshah commented on #66
@DaveTaboola feel free to reach out if you need any help with PR.
Keeping the issue open until you raise a PR

[2019-08-21 14:52] Gauravshah commented on #44
@Dylantje do you still face issue with version 0.0.2 ?

[2019-08-26 06:02] cagnulein commented on #56
Patch works here too!

[2019-08-27 13:33] Antartic0 opened #70 "Plugin doesn´t work, the dash remains charging"
Some days ago the plugin was working fine, but now without changes or updates the metaqueries plugin can´t be used because when I select "Add Query" in edit mode, the dash remains "thinking" and finally shows me a timeout. I can´click over the options in the web and a reload webpage is needed to recover it without changes. There is nothing registered in logs about the issue. I´ve tried reinstallin

[2019-08-27 15:00] Antartic0 commented on #70
Thnx

[2019-08-29 09:05] Gauravshah opened #71 "look into @daniellee concers"
source https://github.com/grafana/grafana-plugin-repository/pull/470#issuecomment-526094412

excerpt:
Hi @Gauravshah this plugin still has a lot of problems but publishing as it is an improvement over the existing version (which usually crashed the browser for me).

Adding a query C and then hiding it doesn't work:
image

Timeshifting queries are always canceled:

image

Lots of JavaScript errors

[2019-09-13 14:54] mvisonneau opened #72 "TypeError: "root_query_results.data[0] is undefined" - prometheus datasource"
I did not manage to get it to work with a Prometheus datasource on Grafana 6.3.5. I have this exact error independently of the prometheus query. Am I missing anything obvious? 🤔

It works fine with a randomwalk by the way.

![image](https://user-images.githubusercontent.com/1761583/64872089-758cf800-d63e-11e9-83b4-e3cf00ce77d8.png)

[2019-09-13 14:54] mvisonneau commented on #72
It is using version `0.0.3` of the plugin

[2019-09-18 15:07] JJMVG opened #75 "Compatibility with alerts"
It would be fantastic if it was possible to set alerts based on a percentage threshold set by arithmetics. Currently when try to do this it says "Datasource not supported".

[2019-09-18 16:55] Gauravshah commented on #75
closing as duplicate of https://github.com/GoshPosh/grafana-meta-queries/issues/19

@JJMVG alerting cannot be supported until grafana backend supports multi-data source backed plugin

[2019-09-18 16:55] #75 closed

[2019-09-20 02:36] SwathiMuppalla opened #76 "Column with difference in Table panel"
@Gauravshah I have been using table plugin in grafana 6.2.5, Elasticsearch datasource. I have a situation where i have a template variable “Version” with data V1, V2, V3 …etc. for every version there is lots of data and i am querying to get total count of every versions data
eg: V1 Total V2 Total
A 10 A 20
B 20 B 15
C 30 C 25
Since I am having template variable “Version” If i try combining two ver

[2019-09-20 06:34] Gauravshah commented on #76
Need to change panel data source to Meta queries and the do A['metric_name']-B['metric_name']
![65294887-9d43fa80-db2d-11e9-8082-e4244f15501b](https://user-images.githubusercontent.com/620559/65304545-c5375c00-db35-11e9-9e89-96b749776fa2.png)

Also if I think you will have to change your query to print values for each version and then do it

[2019-09-26 17:45] SwathiMuppalla commented on #76
Hi @Gauravshah I did what you said
I did print values for two versions and used B['Count']-A['Count']. I get NAN.

![Screenshot (64)_LI](https://user-images.githubusercontent.com/22199547/65711915-e7fccf80-e063-11e9-986e-45d066100435.jpg)

[2019-09-26 18:35] Rasinhas commented on #76
I believe you should use the expressions as B['B'] - A['A'].
When using an elasticsearch datasource, you should use the query alias to form the expression (or you could change the aliases).

[2019-09-26 18:48] SwathiMuppalla commented on #76
@Rasinhas Thank you so much. It's working. In the same way, I am trying to get the division
B['B']/A['A']- It is not working. Could you help me out with the expression for the division?

Thanks

[2019-09-26 19:22] Rasinhas commented on #76
What is happening with the division? Is it showing NaN as well?

It should be working whit B['B']/A['A']

[2019-09-26 19:26] SwathiMuppalla commented on #76
@Yes it is showing NAN.
 (B['B'] - A['A']) /100 = gives me value.
(B['B] / 624 = works good.
But B['B']/A['A'] = shows NAN

[2019-09-26 20:05] Rasinhas commented on #76
I don't even know if Metaqueries supports ternary operations.

About the NaN, what is the table transform you are using? "Time series aggregations"?
When you look at the table using the "Time series to columns" transform, does the data show correctly? For me it sometimes show NaN for the current interval, as the value of A is 0 when a new interval just starts.
I believe the problem is that for "Ti

[2019-09-26 20:44] SwathiMuppalla commented on #76
Yeah, I am using `Time series aggregations`. It's not working for `Time series to columns` too. As you said for `Time series aggregations`. Whenever a new interval starts the Value of A and B is 0.

[2019-09-27 02:09] Gauravshah commented on #76
instead of interval auto try interval month to see if that answers, I think the issue is that aggregation behaves differently in meta queries vs elastic

[2019-09-27 13:34] SwathiMuppalla commented on #76
@Gauravshah Hi Gaurav. Thanks for the suggestion. It works well when I give interval = `10000d`

[2019-10-02 14:41] SwathiMuppalla commented on #76
Hi @Gauravshah, @Rasinhas  Instead of printing the values of each version. Is there any way I could get every version dynamically in each query? Thanks

[2019-10-02 16:13] Gauravshah commented on #76
@SwathiMuppalla Group by support needs to be completed https://github.com/GoshPosh/grafana-meta-queries/pull/63

[2019-10-02 16:39] SwathiMuppalla commented on #76
Thanks @Gauravshah

[2019-10-02 16:39] #76 closed

[2019-10-10 08:32] chengyanQtl commented on #11
I got the following result by replacing the template variable in expression with its current value when query. But I have no permission to push my code.

![Screenshot from 2019-10-10 16-12-21](https://user-images.githubusercontent.com/18626159/66551882-e6123080-eb7a-11e9-8cec-2fcbae97ad14.png)

[2019-10-10 08:47] Gauravshah commented on #11
@chengyanQtl can you create a fork of this repo, push code to your branch and open PR ?
https://medium.com/@jenweber/your-first-open-source-contribution-a-step-by-step-technical-guide-d3aca55cc5a6

[2019-10-16 06:48] xiaobeiyang opened #79 "d"

[2019-10-16 07:27] #79 closed

[2019-10-17 07:50] xiezhenye opened #80 "Allow disable source series and only show calculated series"
I only wants to show the calculated series without source series. But when I disable a source series, the calculated series also can not display.

[2019-10-17 13:05] yuvarajhere opened #82 "MetaQuery breaks in latest version of Grafana"
From version 6.4.2, the metaquery plugin breaks and doesn't return any value. The reason might be the Grafana recent version is using a different data format and it breaks the plugin.

I have tested with "Arithemetic" type and not sure about the other types.

Error Message:
![Screen Shot 2019-10-17 at 10 08 15 AM](https://user-images.githubusercontent.com/29648850/67011483-17808400-f0c6-11e9-9193-

[2019-10-18 05:40] codemoos commented on #82
Can confirm that something with metaqueries and grafana is not working as it used to. I use metaqueries to retrieve data from the source, but plotting in grafana returns undefined error.

[2019-10-18 15:26] gailmichi commented on #82
Same problem here. I don't even get an error message. My browser hangs up if i try to use metaqueries. (Grafana 6.4.3 on Ubuntu Server)

[2019-11-13 13:46] alanbuxton commented on #80
This would be a v useful feature.

[2019-11-14 07:18] ashish235 commented on #66
Does it work with ElasticSearch as data source. Seems not working.
![Screenshot 2019-11-14 at 12 46 37 PM](https://user-images.githubusercontent.com/11647730/68834929-f3bc5800-06dc-11ea-9e25-f92023e5fcb1.png)

[2019-11-18 15:31] bhozar commented on #82
Grafana 6.5.0-beta1 is showing similar behavior. I receive an error message when using it with multiple Azure Application Insight data sources which were previously working in 6.4.x

Each query and panel displays:

**Metric request error**

[2019-11-18 15:41] Gauravshah commented on #82
@tonymadbrain It should generally work with any datasource , can you help with 1 metric and 1 meta query on top of just trying to print the same value ?

[2019-11-18 15:41] Gauravshah commented on #82
@bhozar can you add stack trace and dashboard config ?

[2019-11-18 16:33] bhozar commented on #82
![image](https://user-images.githubusercontent.com/1184220/69069008-abbf6d00-0a1d-11ea-80d7-e86b92a3bb63.png)

^ You mean this bit of the config? Where can I find the stack trace?

[2019-11-18 16:37] bhozar commented on #82
Found it:

`error="{\"error\":{\"message\":\"The request had some invalid properties\",\"code\":\"BadArgumentError\",\"details\":[{\"code\":\"BadArgumentError\",\"target\":\"granularity\",\"message\":\"Failed parsing 'PTPTMM' as ISO8601 duration\"}],\"innererror\":{\"code\":\"QueryValidationError\",\"message\":\"Failed parsing the query\"}}}"`

Looks like it works if I set the time grain to someth

[2019-11-19 14:40] Gauravshah commented on #82
@bhozar thats the error, can you send trace. It should be part of browser console

[2019-11-20 22:09] bhozar commented on #82
Unfortunately I cannot replicate it now. Changing the Time Grain and changing it back seems to have fixed it. If it happens again I'll grab the browser console trace.

[2019-11-20 22:47] siegmund42 commented on #82
For me there isn't even an error. It does not even display any data when selecting metaQueries data source ("No data"). Selecting prometheus data source in the panel works fine for the shown query. Browser console looks clean.
![grafik](https://user-images.githubusercontent.com/9254869/69283884-9731cf00-0bed-11ea-9a0c-2bc86e1ed101.png)

Query inspector returns valid data:
[code]

Any idea how to d

[2019-11-28 13:00] biro11 opened #83 "Limit for number of queries"
Hello,

I've noticed hard limit for number of queries declared with metaqueries plugin. When I create (or duplicate) query after "Z", there is missing reference (end of alfabet)

![image](https://user-images.githubusercontent.com/5763101/69808044-05c2ee00-11e7-11ea-90d1-cad219b4f759.png)

[2019-11-28 15:15] Gauravshah commented on #83
Isn’t this limitation of Grafana itself ?

On Thu, 28 Nov 2019 at 6:30 PM, biro11 <notifications@github.com> wrote:

[2019-11-29 13:06] TheRealKerni opened #84 "Unable to add MetaQueries Query since Grafana 6.5"
Starting with Grafana 6.5.0 I can't seem to add a new query of type "MetaQueries" any longer. The datatype of the panel is set to "MetaQueries". I have the latest version 0.0.3 of MetaQueries installed.

<img width="645" alt="Screenshot 2019-11-29 at 14 02 01" src="https://user-images.githubusercontent.com/42185/69870776-4424df80-12b1-11ea-9f6a-7aaa6635af54.png">

Does anyone have an idea why this

[2019-12-02 09:03] Gauravshah commented on #84
Looks like grafana issue, reported it here :
https://github.com/grafana/grafana/issues/20793

Seems they no longer show mixed queries on the `Queries` tab

[2019-12-03 05:35] qyvlik commented on #84
@Gauravshah which version of grafana can work meta-queries?

[2019-12-03 05:35] Gauravshah commented on #84
@qyvlik 6.3 works. I am not sure for 6.4
6.5 doesn't work

[2019-12-03 05:39] qyvlik commented on #84
@Gauravshah
I use `Grafana v6.6.0-pre (e9f9912dea)`, it very new.
I try rollback grafana version to `6.3.0`.

[2019-12-05 08:47] IzekChen opened #85 "Cannot refer the alias with variable"
I am try to query elasticsearch then using metaqueries to do the timeshift.
In grafana you can use variable inside alias
[https://grafana.com/docs/grafana/latest/features/datasources/elasticsearch/#series-naming-and-alias-patterns](series-naming-and-alias-patterns)

Would it be possible to use variable in the alias, then refer it in the meta query "Metric" column

![image](https://user-images.gith

[2019-12-05 10:25] tonymadbrain commented on #82
my metric:
![Screenshot 2019-12-05 at 13 19 12](https://user-images.githubusercontent.com/5266592/70226769-7c6d6780-1762-11ea-9e5d-4a9f5063c4bc.png)

when added metaquery with timeshift by default:
![Screenshot 2019-12-05 at 13 19 55](https://user-images.githubusercontent.com/5266592/70226846-9a3acc80-1762-11ea-9233-d437fe7a4e1f.png)

when changed timeshift to arithmetic, just no data:
![Screensho

[2019-12-07 11:08] Gauravshah commented on #82
@tonymadbrain `Query  -- MIXED --` is incorrect. It should be  `Query  -- Meta Queries --`

[2019-12-07 12:34] Gauravshah commented on #85
@IzekChen you should be able to refer them as `OG` and `test`

[2019-12-07 18:18] tonymadbrain commented on #82
If I choose Meta Queries there is no data at all:
![Screenshot 2019-12-07 at 21 13 51](https://user-images.githubusercontent.com/5266592/70378867-b000eb00-1936-11ea-9587-39b64ef194ad.png)

Also no errors in console

[2019-12-09 01:58] Gauravshah commented on #66
@ashish235 it would be A['something'] and B['something']

[2019-12-09 02:01] Gauravshah commented on #80
@xiezhenye show or hide would be property of existing data source. Unless the underlying datasource supports it meta-queries cannot support it. For eg it works with druid data source:
<img width="1556" alt="Screenshot 2019-12-08 at 6 00 49 PM" src="https://user-images.githubusercontent.com/620559/70401500-b9e12780-19e4-11ea-9683-c6d35913b7f2.png">
<img width="1558" alt="Screenshot 2019-12-08 at 6

[2019-12-09 02:51] IzekChen commented on #85
Is that means I cannot use variable in the metric field?
Need to set it up one by one, right?

[2019-12-09 05:10] Gauravshah commented on #85
yup, group bys aren't supported yet. there was some progress https://github.com/GoshPosh/grafana-meta-queries/issues/14 but not completed

[2019-12-09 05:13] Gauravshah commented on #82
@tonymadbrain I am unsure why prometheus would not work

[2019-12-11 16:50] TheRealKerni commented on #84
Grafana 6.5.2 fixes this. Thanks @Gauravshah !

[2019-12-11 16:51] #84 closed

[2019-12-11 17:41] siegmund42 commented on #82
@Gauravshah Can we somehow support debugging this? Although #84 is now fixed, this still makes MetaQuery unusable for prometheus users.

[2019-12-12 01:26] Gauravshah commented on #82
@tonymadbrain @siegmund42 I can take a look at prometheus after 2 weeks.  I do not know Prometheus so if you can add a link that can give prometheus test machine with sample data that would be helpful.

[2019-12-17 09:19] siegmund42 commented on #82
You might use this Prometheus demo server as data source: http://demo.robustperception.io:9090/graph?g0.range_input=1h&g0.expr=up&g0.tab=1

[2019-12-17 09:20] siegmund42 commented on #82
@Gauravshah You might want to use this Prometheus demo server as data source (I already a _very_ basic query to the URL): http://demo.robustperception.io:9090/graph?g0.range_input=1h&g0.expr=up&g0.tab=1

[2020-01-14 15:06] dzl84 opened #87 "Can not refer to postgresql data"
I tried to use postgresql data but it always shows no data or blank. How can I refer to the query result in the postgresql query?
<img width="927" alt="Screen Shot 2020-01-14 at 11 04 53 PM" src="https://user-images.githubusercontent.com/1811343/72355426-69b35e80-3722-11ea-85e2-7962c2e26ab0.png">

[2020-01-14 15:18] Gauravshah commented on #87
I think there has been issues with single stat. Can you try using table visualization ? will be easier to debug

[2020-01-14 20:36] siegmund42 commented on #82
Any news on this? I just took a quick look in the javascript console and it gives:
`TypeError: this.props.panelData is undefined PromLink.tsx:23:19`

Anyway, request and response data look good so it's just a matter of presentation I guess.

[2020-01-14 23:24] dzl84 commented on #87
Thank you for the quick response. I changed to table visualization. Same issue.
<img width="969" alt="Screen Shot 2020-01-15 at 7 23 06 AM" src="https://user-images.githubusercontent.com/1811343/72391428-09dfa680-3768-11ea-916b-228ff0514daf.png">

[2020-01-14 23:27] dzl84 commented on #87
It looks like the query response does not have the data for the second part which is a meta-queries.
<img width="676" alt="Screen Shot 2020-01-15 at 7 26 29 AM" src="https://user-images.githubusercontent.com/1811343/72391591-81add100-3768-11ea-9ea7-4641aa5b7971.png">

[2020-01-15 00:56] Gauravshah commented on #87
@dzl84 I think I know the issue. Its related to the fact that its not timeseries data. GroupBys are currently not supported. If you update your query to be presented as timeseries and have a timecomponent it would work

[2020-01-15 02:19] dzl84 commented on #87
@Gauravshah thank you for the idea. I changed the query to be a timeseries and now I hit a new problem. I want to use 2 pg queries and then run a calc to count the pass rate. In query C, when I just set exp to A['pass'], it showed the correct value, but when I set it to A['pass'] + B['pass'], it then showed 0.
<img width="1418" alt="Screen Shot 2020-01-15 at 10 18 24 AM" src="https://user-images.g

[2020-01-15 03:19] Gauravshah commented on #87
Can you try looking at B[‘pass’] ?
Also try renaming it to a different column. May be pass2

On Wed, 15 Jan 2020 at 7:49 AM, dzl84 <notifications@github.com> wrote:

[2020-01-15 08:20] dzl84 commented on #87
either A['pass'] or B['pass'] works. But when I add them together it becomes 0.

[2020-01-15 08:21] dzl84 commented on #87
Also tried to rename to a different column, no luck.

[2020-01-15 13:51] bobanj commented on #52
I'm having a similar issue when trying to use this plugin with influxdb as datasource :/
[code]
After trying to use metaquery, seing "Cannot set property 'hide' of undefined"

[2020-01-20 10:45] Gauravshah commented on #87
@dzl84 haven't come across that issue. If both A['pass'] & B['pass'] individually works then the sum should also work. Can you look at web console to see if there are any JS issues ?

[2020-01-20 13:20] richardmh commented on #87
I'm having the same problem, this is a postgres-timescale db
JS panel is showing in screenshot
If the expression is A['x'] then values column is undefined, or, as here A['x']*2 values are NaN

![grafana1](https://user-images.githubusercontent.com/7447995/72729429-0d6b9700-3b87-11ea-933d-701b2d393249.png)

[2020-01-20 13:30] richardmh commented on #87
for info, the generated sql is this:
`SELECT
  time_bucket('5s',dt) AS "time",
  topic AS metric,
  sum(payload_num) as x
FROM mqtt
WHERE
  dt BETWEEN '2020-01-19T14:47:12.39Z' AND '2020-01-19T15:48:41.988Z' AND
  topic = 'iotaCelr/main_total/wh'
GROUP BY 1,2
ORDER BY 1,2`

[2020-01-20 14:48] Gauravshah commented on #87
@richardmh your issue is different, your query is showing up on graph as `'iotaCelr/main_total/wh'`

so doing `A['iotaCelr/main_total/wh']` should fix it

[2020-01-20 15:34] richardmh commented on #87
Aha!  Works perfectly.
I hadn't grasped that it was the metric rather than the alias of the value which was required.
Thankyou, not a fault at all.
Richard

[2020-01-20 15:43] Gauravshah commented on #87
@richardmh it should ideally be the same, somehow the postgres changes the name. grafana-meta-queries sees data the way grafana sees it. So what shows in UI is what we get within `A`

[2020-01-22 10:17] Watermeloune opened #88 "Can't use queries in arithmetics"
Hello, I'm trying to use MetaQueries's datasource to do simple arithmetic with my queries but I really don't understand why it is not working

![metaqueriesfail](https://user-images.githubusercontent.com/15726170/72885397-2059a500-3d08-11ea-849f-9b59911105fe.png)

I followed examples given in several issues and it seems that you just have to write:
 **Query's name** + **other query's name**

still

[2020-01-23 19:12] reidko opened #89 "Arithmetic not working for single values"
I have two "count" queries that are returning a single value each. I want to divide the two values by each other however, when I attempt to do so it returns a 'NaN'. I have verified that I can retrieve the query results independently from the "metaqueries" query 'C' but cannot seem to perform arithmetic on them together, i.e. A/B.

![image](https://user-images.githubusercontent.com/56081179/730155

[2020-01-24 12:09] Gauravshah commented on #89
your query is incorrect, you are plotting as time series but there is no time component in your query

[2020-01-24 13:53] reidko commented on #89
By time component do you mean a group by time? How would you suggest I correct this?

[2020-01-28 05:29] Gauravshah commented on #88
Please go through the Readme before opening an issue.

https://raw.githubusercontent.com/GoshPosh/grafana-meta-queries/master/img/arithmetic-ex1.png?raw=true

says `A['something']`

[2020-01-28 13:23] Watermeloune commented on #88
Hi, sorry I had also try this way but I didn't think about putting metaqueries datasource in the end, my bad. Anyway, thanks

[2020-01-28 14:44] #88 closed

[2020-01-28 15:26] Gauravshah commented on #88
glad it worked out for you @Watermeloune

[2020-01-29 08:56] Claudiocre opened #90 "Difference Memory with MetaQueries"
Hi all, sorry for my spupid ask, but I am new in this world.
Moreover I have simil problem of[ this iussue](https://github.com/GoshPosh/grafana-meta-queries/issues/34)  .  I want see the difference of the memory used  from two query with the plugin zabbix. indeed I have implemented two query, one with the Total Memory and  the second con Free Memory. in the  third query (MetaQuery) I want see the

[2020-01-29 09:54] Gauravshah commented on #90
panel data source should not be `Mixed` It should be metaqueries

[2020-01-29 10:24] Claudiocre commented on #90
I have change the DataSource and now it's visible, sorry for the my naivety

[2020-01-29 10:24] #90 closed

[2020-01-31 08:40] aquilax commented on #29
I had similar problem two queries `A` and `B` and the `B` query did not return values for every time interval for which `A` did. What worked for me was using something like `A['key1'] + (B ? B['key2'] : 0)` which essentially returns 0 if the B query does not have a value.

[2020-02-03 10:06] beingyash commented on #19
@Gauravshah Any idea regarding possibility/timeline of this being feasible based on grafana's development roadmap?

[2020-02-03 16:21] ZyanKLee commented on #29
today I noticed a very similar behaviour with a simple A-B logic:

A: `SELECT mean("value") AS "Free" FROM "node_memory_MemFree_bytes" WHERE $timeFilter GROUP BY time($__interval) fill(none)`
B: `SELECT mean("value") AS "Total" FROM "node_memory_MemTotal_bytes" WHERE $timeFilter GROUP BY time($__interval) fill(none)`
C: `B["Total"]-A["Free"]`

At first I had the time() set to `10s` statically - an

[2020-02-04 02:44] Gauravshah commented on #19
@beingyash it is not something that we can change from this plugins end to be able to support it.
We had multiple discussions but it did not see the light yet.
Feel free to add questions here
https://github.com/grafana/grafana/pull/16387

[2020-02-15 15:41] Silver-Golden opened #91 "Update Grafana Plugin page"
The page at https://grafana.com/grafana/plugins/goshposh-metaqueries-datasource has incorrect info.

I was trying to get Moving Average working for Arithmetic.
The page didnt list those two as incompatable in the known issues.

It seems that the Plugin page ``Known Issues`` is the same as the github's readme's ``Supports Nesting`` with a different set  ``Known Issues`` (Including ``Moving average

[2020-02-15 16:03] Gauravshah commented on #91
some of the nested queries is fixed. Readme has the most updated data

[2020-02-21 06:40] cassiel74 commented on #29
Can't get metaqueries to work like you do...
Here's my setup, what I am missing?
![image](https://user-images.githubusercontent.com/6669940/75010379-42685380-547d-11ea-9f05-da841b522239.png)

Regards

[2020-02-21 08:19] SergeyRim opened #92 "Metaqueries works incorrect with metrics from Zabbix datasource"
Hello.
I have a Grafana v6.6.1 with Zabbix plugin.

For example I have added 2 metrics from zabbix datasource: "Number of packets received on interface Network adapter 1" for 2 different hosts (metric A and metric B).
Then I added an arithmetic metaqueries metric.
The behaivor is:
No matter if I put A['Number of packets received on interface Network adapter 1'] or B['Number of packets received on

[2020-02-21 12:08] TheRealKerni commented on #29
@cassiel74 add the value `$col` into the big `ALIAS BY` field.

The problem is that if `ALIAS BY` is not set, then the actual identifier prepended by `values.`. The `$col` value will eliminate this prepending string.

[2020-02-21 12:20] cassiel74 commented on #29
Ah... I put the alias in SQL style :-)
Now it's working, using only `ALIAS BY` and nothing in SELECT statement

[2020-03-03 21:04] kghogue2 opened #93 "Question: Meta Queries with JSON Datasource"
I am using SIMPOD-JSON-DATASOURCE, and I am trying to apply meta queries for arithmetic operations not offered by the JSON datasource.

I am running into issues with how to refer to my query, and I am not finding much information. I am also probably running into issues with null data, as my data source has significant latency (>3 min)

![image](https://user-images.githubusercontent.com/37410379/75

[2020-03-04 02:02] Gauravshah commented on #93
A['Jones Street.....750 W'] needs to be put in.  I am not sure how SIMPOD works but in general what is being shown on graph can be used as name

[2020-03-04 14:31] kghogue2 commented on #93
That worked perfectly! Thank you so much for the quick response!

[2020-03-04 14:34] #93 closed

[2020-03-04 15:05] Gauravshah commented on #29
thank you @TheRealKerni

[2020-03-06 12:28] beingyash commented on #66
@Gauravshah Timeshift and Arithmetic works perfectly with elasticsearch datasource but not with prometheus.
Grafana version: 6.5.0
Prometheus version: 2.15.2
Metaqueries version: 0.0.3
It shows an error in the panel, stating: "Cannot read property 'forEach' of undefined"

![grafana](https://user-images.githubusercontent.com/8811161/76083586-ff0cf980-5fd3-11ea-9c6b-bab6cd35ab64.png)

[2020-03-06 13:03] Gauravshah opened #94 "doesn't work with prometheus data source"
Details in :
https://github.com/GoshPosh/grafana-meta-queries/issues/82
https://github.com/GoshPosh/grafana-meta-queries/issues/66

[2020-03-06 13:03] Gauravshah commented on #66
@beingyash this issue is different from what you are asking. please move the discussion to https://github.com/GoshPosh/grafana-meta-queries/issues/94

[2020-03-06 13:03] Gauravshah commented on #82
@siegmund42 moved the conversation here https://github.com/GoshPosh/grafana-meta-queries/issues/94

[2020-03-06 13:03] #82 closed

[2020-03-26 09:17] vicioussn commented on #92
Same issue for me

[2020-03-26 14:32] Gauravshah commented on #92
@vicioussn did you try debugging?

[2020-03-30 18:09] apoorva-marisomaradhya commented on #92
@Gauravshah Hey, does this plugin work with grafana v6.7 and above? I am trying to get this work with v6.7.1 and MetaQuery plugin doesn't endup showing any data.

[2020-03-31 03:43] Gauravshah commented on #92
@apoorva-marisomaradhya can you open a separate issue we can discuss there. also do paste a screenshot of your dashboard config

[2020-03-31 07:49] apoorva-marisomaradhya opened #95 "Does the plugin work with grafana v6.7 and above??"
Hi!!

I deployed the plugin on our grafana v6.7.1 and tested out with cloudwatch & prometheus datasource, tests didn't not give any result. Any help would be appreciated.

Have attached the screenshot of dashboard I was working on.

![image](https://user-images.githubusercontent.com/45768960/78000135-6c047c80-7351-11ea-97ec-0dd3164da270.png)

[2020-04-02 07:31] SergeyRim commented on #92
Sorry for late response. Not sure how to do a debugging with console.log, but my issue is very easy to reproduce.
![Screenshot_4](https://user-images.githubusercontent.com/30080321/78221995-1359ee80-74cd-11ea-942c-8c3ca0a31093.png)

[2020-04-02 08:42] SergeyRim commented on #92
Debugging shows that calculation is correct, but the graph looks very ugly. So the issue is in the graph itself?
![Screenshot_5](https://user-images.githubusercontent.com/30080321/78228189-0e01a180-74d7-11ea-8549-742aeb0a8dc9.png)

[2020-04-02 10:25] Gauravshah commented on #92
so we are one step forward now. You can convert your graph to table . That will help understand data better. Looks to me that there is a null on either A or B and non-null on the other side hence the sum is throwing as NAN. Once you confirm it via table you can write some javascript safety check. ` (A['number_of....'].isNaN()? 0 : A['number_of....']` something like that should take care of excepti

[2020-04-02 10:27] Gauravshah commented on #95
Prometheus does have issues and we have not spent time on it. Cloudwatch does work. Looking at the panel I don't find anything aboivious.

can you try console.log(A) in the B's expression and then verify on console what does it print.

[2020-04-02 10:28] Gauravshah commented on #95
looks like there are breaking changes https://github.com/grafana/grafana/releases/tag/v6.7.0-beta1. We have not tested it on 6.7. The latest we have tested is 6.5.2

[2020-04-02 10:46] SergeyRim commented on #92
I have converted graph to table and now can see the issue. Data for A and B has different timestamps.
So how to use MetaQueries in this case?
![Screenshot_6](https://user-images.githubusercontent.com/30080321/78240428-aef85880-74e7-11ea-81f1-26808d72954f.png)

[2020-04-02 11:16] Gauravshah commented on #92
you might want to  set some granularity on your A source so that it is grouped by the same time as the other one. I do not know how otherwise can Metaqueries do the summation.

[2020-04-02 11:42] SergeyRim commented on #92
This is how zabbix collects data. The previous screenshot was from esxi stats collected by zabbix, here is a snmp stats collected from router by zabbix. The main problem is the same - different timestamps. I'm really not sure that I can influence on this.
![Screenshot_7](https://user-images.githubusercontent.com/30080321/78245382-0c90a300-74f0-11ea-8a8f-e94e3d628cf4.png)

[2020-04-03 05:36] Gauravshah commented on #92
@SergeyRim I am not sure how to do that on zabbix, but unless we get the time granularity to be similar across columns there is no way metaqueries will be able to apply any operation

[2020-04-03 09:52] apoorva-marisomaradhya commented on #95
Tried console.log(A), still no data.

[2020-04-03 10:14] Gauravshah commented on #95
that would print in web browser's console

[2020-04-07 14:17] amandagmsd opened #96 "Only queries that return single series/table is supported"
I'm using two different elasticsearch database.
When using the MetaQueries datasource on a singlestat panel it appears Only queries that return single series/table is supported.
What am I doing wrong?
![A5C137D3-72E5-4CA3-9D4B-6A25013B36E7](https://user-images.githubusercontent.com/22913839/78680010-52b77f00-78c1-11ea-8b12-4e8115f49e1c.png)

[2020-04-07 14:31] Gauravshah commented on #96
duplicate of https://github.com/GoshPosh/grafana-meta-queries/issues/10

[2020-04-07 14:31] #96 closed

[2020-04-08 23:41] prokashyap opened #97 "Cannot use arithmetic operation for more than 2 queries."
We have a graph in which we are plotting 3 values, cpu_user, cpu_system and cpu_waiting values.
We wanted to add these 3 values to have a better understanding of cpu usage.
The plugin is working fine when adding the values of any two metric mentioned above. We have
 the graph after adding 2 values.
But, when I add the third query, and try to add that value in the arithmetic option, it's not workin

[2020-04-09 02:22] Gauravshah commented on #97
can you add a screenshot ?
also group by queries are not supported yet

[2020-04-10 07:37] prokashyap commented on #97
Hi,
Thanks for your response, group by will be needed.
Here are the screen shots. I have selected cpu_load to show in the graph, for 2 queries values are coming, for 3 they are not.
![2_queries](https://user-images.githubusercontent.com/20145890/78972677-ec826480-7b2b-11ea-8d39-e69f6dfda6dc.jpg)
![3_queries](https://user-images.githubusercontent.com/20145890/78972692-f4da9f80-7b2b-11ea-9489-c143c9

[2020-04-10 07:38] Gauravshah commented on #97
looks like casing issue "c" vs "C"

[2020-04-15 02:54] wjiao123 opened #98 "timeshift can not get first and last vaule"

[2020-04-15 02:56] Gauravshah commented on #98
@wjiao123 https://opensource.guide/how-to-contribute/#communicating-effectively

[2020-04-15 03:22] wjiao123 commented on #98
A : SELECT "value" FROM "table" WHERE  $timeFilter
B : use timeshift -5min get value from A use meta-queries
C :  is A-B/A+100 use meta-queries
but for C the first min and last one min the value is zero always.

[2020-04-20 20:19] benjaminsaurusrex commented on #95
@Gauravshah - are there any plans to make this work with `6.7+`? I've also tested numerous flavors of `console` logging to no avail. Would love to use this if possible.

[2020-04-21 01:52] Gauravshah commented on #95
@benjaminsaurusrex we wouldn't be able to get to it in next 4-6 weeks. we should be able to look after that.

[2020-04-22 07:01] prokashyap commented on #97
Using "C" only, this I modified for screenshot, so by mistake "c".

[2020-04-26 15:08] NightDragon1 opened #99 "Question: Substracting Dates"
Hi,

Is there a way to substract a date from a date field? e.g. -1d or so?

Thx,
BR,

Rob

[2020-04-29 15:52] ednjv commented on #19
Seems like this has been fixed? https://github.com/grafana/grafana/issues/6841 @Gauravshah

[2020-04-29 17:17] Gauravshah commented on #19
@ednjv metaqueries needs access to other datasources via backend this is not implemented.
Please add request here https://github.com/grafana/grafana/issues/15696

[2020-05-03 07:59] NightDragon1 opened #100 "Logarithm of datapoint"
Hi!

I would like to calculate the logarithm (ln, base Math.E) of a number. Any chance to get something like this in Meta Queries?

Thanks,
BR,
Rob

[2020-05-03 10:21] Gauravshah commented on #100
you should be able to use `Math.log(A['something'])`

[2020-05-03 11:50] NightDragon1 commented on #100
Thank you!!
Tat solved my issue.

BR,
Rob

[2020-05-03 11:50] #100 closed

[2020-05-06 09:27] gowthamakanthan opened #101 "Arithmetic is not accurate."
Team,

I am using the Arithmetic operation which highlighted in the screenshot but not getting the accurate value as an output.  Hope am adding in the right manner?

![Screenshot 2020-05-06 at 10 30 27](https://user-images.githubusercontent.com/4055982/81162164-a41c6200-8f84-11ea-9dda-021390c23110.png)

![Screenshot 2020-05-06 at 10 30 13](https://user-images.githubusercontent.com/4055982/81162161

[2020-05-06 11:39] Nibeck1309 opened #102 "Grafana 6.7.3 + influxdb 1.8 not working ?"
Hello,

I want to add this two series, but don't works.

![Screenshot_20200506_133204](https://user-images.githubusercontent.com/11226474/81172707-071af280-8f9f-11ea-84e9-da2e2a24081a.png)

any ideas

[2020-05-06 16:14] Gauravshah commented on #102
what kind of visualization is this ? ( I am not aware of min/max working).

Can you try plotting it as table first and then try to move to this visualization ?

[2020-05-06 16:19] Gauravshah commented on #101
105+244+232+243+449 = 1273
looks right calculation.

And if you are looking for the dips I think one of your metric at that instant is a `NaN`
`(A['CHI CPU'] || 0)+(B['LON CPU'] || 0)....` that should take care

[2020-05-07 07:31] Nibeck1309 commented on #102
Hello,

this is my data in table viszu.
MY problem (I think), it's the data not write at the same time.

Is their a way for correct this ?

![Screenshot_20200507_092920](https://user-images.githubusercontent.com/11226474/81266683-78ad7c00-9045-11ea-9160-42510aebac74.png)

[2020-05-08 02:10] Gauravshah commented on #102
You might have to add group by at minute level.
https://community.grafana.com/t/group-by-max-interval-myvar/9772

[2020-05-11 09:12] Nibeck1309 commented on #102
Hello,

Thanks for your answer.

This resolv my problem.

[2020-05-11 09:12] #102 closed

[2020-05-18 06:56] gowthamakanthan commented on #101
Gaurav,
Thanks for the reply. Any idea why the graph is showing weird? The attached example is taken from 30 days and 90 days of data. Not sure why the lines are referring two values on 07-march.

<img width="1642" alt="Screenshot 2020-05-18 at 07 50 23" src="https://user-images.githubusercontent.com/4055982/82182518-4f5ddd00-98dc-11ea-88f6-aec5f618fef6.png">
<img width="1658" alt="Screenshot 2020

[2020-05-18 08:01] Gauravshah commented on #101
@gowthamakanthan can you try table visualization that should give better idea on what data is being shown

[2020-05-18 08:52] gowthamakanthan commented on #101
Okay, I will try the table visualization. Just added the below screenshots for clarity on my issues. I have tried without doing any Arithmetic operation with single CPU value.
<img width="1655" alt="Disabling Total" src="https://user-images.githubusercontent.com/4055982/82193374-37428980-98ed-11ea-892e-9dca63e4f889.png">
<img width="1633" alt="With Total" src="https://user-images.githubusercontent

[2020-05-18 11:08] beingyash commented on #94
@Gauravshah Any progress on prometheus compatibility yet??
https://github.com/GoshPosh/grafana-meta-queries/issues/66#issuecomment-595746814

[2020-05-19 20:24] yuvarajhere commented on #94
@beingyash Grafana 7.0 introduced transformation feature to aggregate multiple query outputs - https://grafana.com/docs/grafana/latest/guides/whats-new-in-v7-0/#transformations

[2020-05-20 14:20] AlexandreGuidin commented on #87
Had the same issue here, A and B individually works

![image](https://user-images.githubusercontent.com/17595229/82457541-ecab4380-9a8b-11ea-9aad-02de5870d704.png)

[2020-05-20 14:41] AlexandreGuidin commented on #87
Actually, it prints two erros
![image](https://user-images.githubusercontent.com/17595229/82458780-80314400-9a8d-11ea-8fd6-9e418de675ef.png)

i've figured out that the variables resultsHash not contains value for both datasources at the exatctly same timestamp:
![image](https://user-images.githubusercontent.com/17595229/82459657-968bcf80-9a8e-11ea-9f49-42bae4c320f4.png)

and then when it calls `va

[2020-05-20 15:01] AlexandreGuidin commented on #87
Fixed here.

In my case only matter the value of entire day, so i've changed the timestamp to "at the start of day"

mysql: `    UNIX_TIMESTAMP(CURDATE()) as time,`
postgres: `  current_date::timestamp at time zone 'America/Sao_Paulo' as time, `

had other timezone diferences either...

[2020-05-21 16:51] bfalese-navent commented on #97
C is test, i think you should be using D

[2020-06-02 10:04] gowthamakanthan commented on #101
It's working fine after increasing the time interval. :) thank you @Gauravshah

[2020-06-02 10:04] #101 closed

[2020-06-16 16:24] cjw77 opened #103 "Is Arithmetic on Moving average supported?"
I'm using meta queries to get a difference between times on a dataset that will not let me use aggregate functions because it thinks the influx data is strings.  I took two MovingAverage queries, called D and E. Then tried to do arithmetic on E()-D().  Should this be possible? Or is there a way to group the moving average values?

[2020-06-18 07:12] Gauravshah commented on #103
arithmetic on MA is not supported. MA on arithmetic is although supported

[2020-06-23 10:07] Gauravshah commented on #95
tested works on grafana 7.0.3

[2020-06-23 10:07] #95 closed

[2020-06-23 10:11] Gauravshah commented on #99
you should be able to write javascript

 new Date(A['some_col']).setDate(( new Date(A['some_col']))-5);

[2020-06-23 10:13] Gauravshah commented on #94
@beingyash is there any open prometheus data source that I can use to test it out ?

[2020-06-23 10:14] Gauravshah commented on #92
closing this one as its not related to metaqueries

[2020-06-23 10:14] #92 closed

[2020-06-23 10:15] Gauravshah commented on #89
there needs to be a group by with time

[2020-06-23 10:16] Gauravshah commented on #18
closing as a duplicate of #16

[2020-06-23 10:16] #18 closed

[2020-06-23 10:17] Gauravshah commented on #52
@bobanj do you have any ip that has influx db to test out ?

[2020-06-23 10:18] #23 closed

[2020-06-23 10:24] #41 closed

[2020-06-23 10:25] #44 closed

[2020-06-23 10:26] #36 closed

[2020-06-23 13:20] NightDragon1 commented on #99
Hi!

Thanks for your answer. I solved it by adjusting the database and adding a view with date -1d.

BR,
Rob

[2020-06-23 13:20] #99 closed

[2020-06-23 20:30] siegmund42 commented on #94
See my comment here for a test data source: https://github.com/GoshPosh/grafana-meta-queries/issues/82#issuecomment-566455244

[2020-06-24 11:35] Gauravshah commented on #94
I looked at it . For some reason Prometheus returns an observable from the promise. Its related to move to react from angular. because $q.all(promise) doesn't resolve on react. We will need to move the plugin from angular to react to be able to support this. Not sure of a quick hack.
https://stackoverflow.com/questions/37172093/q-all-for-angular2-observables

Unable to import rxjs

[2020-07-13 20:22] meyerder opened #104 "Grafana 7"
I cant seem to get this to work on Grafana 7.0 even when it is a signed plugin

[2020-07-14 17:30] mazamsezer commented on #104
Same here. I installed Grafana Enterpeise 7. I had one dashboard with three panels having MetaQueries, working on 6:latest (I am using Docker) which stopped working on Enterprise 7.

It says cannot read the length of null or something similiar. As I do not have access to my PC at the moment, I cannot give you the exact error.

Is there anything I can do make it work?

[2020-07-14 18:06] meyerder commented on #104
Yep I was/am running enterprise as well at this time but it appears on the
community edition on 7 as well

On Tue, Jul 14, 2020 at 12:30 PM mazamsezer <notifications@github.com>
wrote:

[2020-07-17 04:29] gonfunko commented on #104
I'm seeing what I think is the same issue after updating Grafana; my config was previously working. Error message and queries are attached.
<img width="1185" alt="Screen Shot 2020-07-16 at 9 25 50 PM" src="https://user-images.githubusercontent.com/667459/87748658-5b1a3280-c7ab-11ea-9a03-cbd2ea605c58.png">
<img width="831" alt="Screen Shot 2020-07-16 at 9 27 26 PM" src="https://user-images.githubus

[2020-07-17 13:26] TheRealKerni commented on #104
@gonfunko happens here on 7.1 as well. Grafana 7.0.x works fine with the current version. So there must be changes in 7.1 regarding how plugins works.

[2020-07-20 16:28] Gauravshah commented on #104
verified it works with 7.0.3, but doesn't work with 7.1.x. Release notes don't have any breaking changes. Will look into and get back in couple of days

[2020-07-20 16:57] meyerder commented on #104
Must be I am doing something wrong...   7.02

[2020-07-20 17:00] meyerder commented on #104
I must be doing something wrong.. I set it to mixed (7.02) and tell it to leverage Query A... Cannot set property 'hide' of undefined

[2020-07-20 17:05] meyerder opened #105 "Grafana 7"
Seems I hit a incorrect button and can not reopen the issue...  This is to replace
https://github.com/GoshPosh/grafana-meta-queries/issues/104

[2020-07-20 17:09] meyerder commented on #104
Figured out how to reopen...

[2020-07-20 17:10] #105 closed

[2020-07-23 18:39] cjs226 commented on #104
Same, not working on 7.0.5.

[2020-07-29 16:00] frams commented on #29
I was having the same issue I solve mine by grouping by time ($__interval, previous) on both A AN B queries (MYSQL Data Source) and that seems to have fixed the issue.
![image](https://user-images.githubusercontent.com/2160085/88823372-ff7c7b80-d192-11ea-9684-6bb4d91d3126.png)

[2020-07-30 07:48] gongxifacai-pay commented on #103
I hope it will be supported next version,it`S really useful

[2020-08-01 18:45] arigit commented on #104
Same issue on 7.1.1 enterprise - missing this great plugin

[2020-08-05 21:40] beingyash commented on #11
https://github.com/GoshPosh/grafana-meta-queries/pull/77#issuecomment-669526577

[2020-08-07 02:37] earth08 commented on #104
I have same issue,
When selecting metaqueries as datasource, no data is displayed.
Well hope everything gets fixed asap.
I am using grafana 7.1.1 as docker provided by frenk as adding for home assistant.

[2020-08-12 09:41] germio opened #106 "A+B without using a key"
Hi Friend,
Is it possible to have a sum of two queries without using a key value?

With Key value
A: alias(query, 'cta')
B: alias(query, 'ctb')
C: A['cta']+B['ctb']

Without Key value
is this possible or is there something similar ?
A: query
B: query
C:A['*']+B['*']

[2020-08-12 12:16] Gauravshah commented on #104
This seems to be fixed in 7.1.3
[
<img width="1266" alt="Screenshot 2020-08-12 at 5 15 49 AM" src="https://user-images.githubusercontent.com/620559/90013890-ff807f00-dc5a-11ea-9ad8-035097478c99.png">
](url)

[2020-08-12 17:46] arigit commented on #104
@Gauravshah I confirm the same, I can now add metaqueries to my panels.

However, at least in the moving average case, the behavior with Moving Averages seems weird, it seems to be just scaling down the main graph by a factor equal to the amount of periods I choose for the average.
E.g. if I select Periods = 2, the "moving average" graph is the same as the main graph by divided by two.
WIth Period

[2020-08-12 19:00] Gauravshah commented on #104
@arigit can you open a different ticket ?
was this working before ?
can you post a screenshot with data in table form ? that will better help us compare numbers
also Moving Average computes over last 4 days ( for period =4) and not last 4 data points

[2020-08-12 21:19] arigit commented on #104
Thanks @Gauravshah - I will open a ticket later today and attach the data. This wasn't working before, I'm new to this plugin and it seems to fit my needs perfectly if I can get it to work. My challenge is that I'm trying to apply it to an IP bandwidth graph that is sampled once every 10 seconds, so a 1-day moving average won't cut it. In the IP/networks world 5-minute moving averages are most com

[2020-08-13 02:49] Gauravshah commented on #104
we added support for timeshiftUnits I think we need to add same for Moving Average that should fix your issue.
https://github.com/GoshPosh/grafana-meta-queries/pull/62/files

[2020-08-13 19:06] arigit opened #107 "Moving Average: support of movingAverageUnits instead of Period to give flexibility to adapt to any needed time window"
With reference to the discussion in #104

My use case: I have an IP bandwidth graph that is sampled once every 10 seconds. I am trying to use the Moving Average meta-query to add a moving average curve, and I need the time-window of the moving average to be 5 minutes, ie 30 samples.

I just discovered this plugin and it's functionality seems to fit my use case like a glove however, when I configur

[2020-08-13 19:17] arigit commented on #104
Opened #107; I believe #104 has been solved

[2020-08-14 04:41] Gauravshah commented on #107
posting from  #104
[code]

[2020-08-14 04:44] Gauravshah commented on #106
grafana doesn't have data like that. Can you post a screen shot of dashboard showing A & B (both panel config & data) that might help me better understand the request.

[2020-08-14 18:56] germio commented on #106
Hi Gauravshah,
An example like this, because I use regex

`A: aliasSub(sumSeries(graphite.metrics.cloud1.*), '(.*)', '\1')`
`B: aliasSub(sumSeries(graphite.metrics.cloud2.*), '(.*)', '\1')`
`C: A['howtoregexkeyA']+B['howtoregexkeyB']`

[2020-08-14 19:02] germio commented on #106
panel config
patternA: cloud1.*
patternA: cloud2.*

[2020-08-19 14:00] dwsorge opened #108 "Cannot read property 'length' of undefined"
Hello,

I am using the heatmap plugin with MetaQuery and I am getting "Cannot read property 'length' of undefined".

The Grafana query inspector is returning data which is coming from InfluxDB.

When I view in Chrome the error is: Cannot read property 'length' of undefined
When I view in IE the error is: Cannot read property 'length' of undefined or null reference

I am using Grafana v7.1.3
MetaQu

[2020-08-20 09:02] wuyinggui opened #109 "The datasource does not support alerting queries"
Use this plugin,I have the timeseries errorpercent chart
many thanks!
Now I want to have an metric alert upon threshold,But grafana says "The datasource does not support alerting queries
"
Need help.

[2020-08-20 12:45] Gauravshah commented on #109
duplicate of https://github.com/GoshPosh/grafana-meta-queries/issues/19

[2020-08-20 12:45] #109 closed

[2020-08-20 12:50] Gauravshah commented on #108
can you try changing it to a table to better understand the numbers ?
can you also post a screenshot of your panel setting ?
can you try with meta-queries latest with grafana 6.2.5 just to make sure its not metaqueries bug

[2020-08-20 17:30] dwsorge commented on #108
I changed to a table and it still showing no data.

![image](https://user-images.githubusercontent.com/69860150/90804406-2dfbfb00-e2e8-11ea-80e8-a377dbc8bb67.png)

When I remove meta-queries I can get the data to show up in the table.

I tried running the latest meta-queries with Grafana v6.2.5 and it works there.

Here are the panel settings:

![image](https://user-images.githubusercontent.com/69

[2020-09-01 12:36] dwsorge commented on #108
Hello,

Is there any other info I can provide you that would be useful?

Thanks!

[2020-09-01 17:11] TheRealKerni commented on #104
@Gauravshah it seems to work with the Grafana sample data, but existing panels don't work and creating a new panel with other data sources don't seem to work. Does this happen for you as well?

[2020-09-02 11:25] IstvanPeter commented on #104
We have some dashboards where we have to compare the data with an earlier state and it worked till version 7.0.x.

Reproduce steps:
Create a chart with MetaQuery and select datasource for the Query "A" a Cloudwatch datasource.
Select one of the native metrics
Add a Query with datasource "MetaQuery" and set the metric name of the Query "A"

You get "Cannot read property 'forEach' of undefined" erro

[2020-09-08 03:29] tatdatpham opened #110 "Doest Meta querries support Single Stats metric"
Hi,

I just know this plugin, it's awesome plugin!

### ENV:
- Grafana : 7.0
- Elasticsearch: 7.9.1

### Question
I have one question, Doest Meta querries support Stats metric? Stats metrics show wrong data
Example: (Chart : Single Stats)
Query A (Data source A) : Count value = X
Query B (Data source B) : Count value = Y

**Desired results**
Query C (Data source Metaquery) : A['ct'] + B ['ct] = X

[2020-09-08 13:23] #110 closed

[2020-09-09 07:58] izekchen-sp commented on #11
Can we also add the feature of apply template variables in output name?

[2020-09-09 09:35] zhukaiqiang commented on #104
7.1.5 Meta-Queries still cannot be used

[2020-09-09 10:32] favorinfo commented on #108
the same problem with grafanav7.13 and master version
query with influxdb

[2020-09-11 13:31] AngeloArcaini opened #111 "Arithmetic queries not working with InfluxDB"
Hi,
I'm fairly new in using this plugin and Grafana, but when i try to use metaqueries to sum 2 InfluxDB queries it doesn't work: the result is always 0, while the 2 queries have results.

I'm using Grafana 5.4.2
Thanks in advance for any help.

[2020-09-11 14:00] #111 closed

[2020-09-11 20:13] iamshreeram commented on #19
Based on the direction from https://github.com/grafana/grafana/issues/15696#issuecomment-650997996, Did we check the [gel-app](https://github.com/grafana/gel-app)? If not, can we try?

Also, I'm trying to create simple alerts on arithmetic operation (metaquery - Elastic). Currently, this is not possible as well. Is that right?

cc: @Gauravshah

[2020-09-12 03:28] Gauravshah commented on #19
@iamshreeram we do not currently have bandwidth to invest into alerting. gel-app seems the right direction though, PRs are most welcome

[2020-09-12 16:17] earth08 commented on #104
Same here not working with 7.1.5

[2020-09-15 14:30] Chris-Tophski commented on #104
Just updated to Grafana 7.1.5 and updated all plugins. Earlier, MetaQueries caused browser crashes quite often in my case, so I stopped using it, but now I wanted to give it another try after a while. Now, my panels with MetaQueries involved completely stopped working with several different error messages, but without crashes, so far.

Currently, I only see "resultByQuery.data is undefined", but I

[2020-09-17 09:00] fe111x commented on #104
Hi,

same Problem for me with Grafana 7.1.5
Would urgently need meta-queries again.

[2020-09-17 11:57] nadanasser commented on #104
same here on Grafana 7.1.5, arithmetic option would sort lot of work with me

[2020-09-23 12:13] Willshield commented on #104
Hi,
I can't use CloudWatch datasource with meta-queries in Grafana 7.1.5 also.

[2020-09-28 08:34] fadjar340 commented on #104
So do I....

[2020-10-12 15:08] stefi994 opened #113 "MetaQueris doesn't seem to work with InfluxDB"
I am looking into sum of 2 queries with are from InfluxDB with are GROUP BY time(30s), fill(null) and it's grouped by devices.

I am trying to get a sum of traffic by devices and when I select query from Meta Queries I am not able to see any result on the graph. I am trying with A['alias1']+B['alias2']

Tried to find if this is supported in Meta Queries but didn't find anything.

[2020-10-14 14:36] stefi994 commented on #14
Is this in any way possible now? or it's still not fixed?

[2020-10-16 14:24] h07d0q commented on #113
Same here. Only getting "No data" as result.

[2020-10-19 09:17] mubeta06 opened #114 "Grafana v6.7.4"
I am having no luck at all when attempting a simple MetaQuery on Grafana v6.7.4 (8e44bbc5f5) as per the included screen shot. Am I missing something fundamental here?

![image](https://user-images.githubusercontent.com/1686339/96425524-d7f3f700-1247-11eb-8284-7562a840e7ce.png)

[2020-10-19 10:11] Gauravshah commented on #114
please refer to readme.
your dashboard is set to "--Mixed--" it should be metaquereis

[2020-10-19 10:11] #114 closed

[2020-10-19 10:43] mubeta06 commented on #114
🤦 thanks and apologies for wasting your time.

[2020-10-19 11:16] IstvanPeter commented on #113
I get error message also.
![image](https://user-images.githubusercontent.com/37807551/96443611-2c2db580-120d-11eb-8f53-bb539de193a3.png)

[2020-10-19 11:18] Gauravshah commented on #113
grafana 7 is work in progress https://github.com/GoshPosh/grafana-meta-queries/issues/104

[2020-10-25 12:49] arteck commented on #104
sry.. but with influxDB works not..
![grafik](https://user-images.githubusercontent.com/6681528/97107640-e10e1980-16c8-11eb-8697-60d65fc96c08.png)

[2020-10-26 08:56] adrianchase opened #115 "MetaQueries not displaying data with "--Mixed--" datasource selected"
Good morning,

I am trying to make a simple aritmetic operation with two variables in MetaQueries (_A['variable 1']/B['variable 2']_).
Well the issue I think it comes because each of the variables comes from a different datasource - Therefore the data source selected is "--Mixed--":

![image](https://user-images.githubusercontent.com/46241071/97151169-6b10bd80-176f-11eb-9c4a-b8bea38fd9d0.png)

Her

[2020-10-26 09:06] Gauravshah commented on #115
duplicate of https://github.com/GoshPosh/grafana-meta-queries/issues/114

[2020-10-26 09:06] #115 closed

[2020-11-03 19:11] WafflesMcDuff commented on #104
Still having this problem in Grafana 7.1.5 with InfluxDB data source

[2020-11-11 10:18] linger000 opened #116 "how to config when having multi value1,example query a is group by result which have dynamic multile value"

[2020-11-11 12:04] Gauravshah commented on #116
duplicate of https://github.com/GoshPosh/grafana-meta-queries/issues/14

[2020-11-11 12:04] #116 closed

[2020-12-21 02:11] WafflesMcDuff commented on #104
Do we have an ETA on this? We're still waiting to get this functionality back.

[2020-12-23 14:25] unbalanced commented on #104
Such a shame, many cloudwatch dashboards stoped working. Would love to understand if this is going to get fixed or should i find another solution to run my timeshift graphs on cloudwatch metrics..

[2021-01-08 13:09] Sreevani871 commented on #89
@reidko Hi, Facing similar issue. Here attaching the screenshot of the issue

<img width="1440" alt="Screenshot 2021-01-08 at 6 34 15 PM" src="https://user-images.githubusercontent.com/20114703/104018675-380f8f00-51e0-11eb-9f1a-636e289bc62b.png">

`A['Total']` and `B['Satisfied']`values are in single value.
When I am doing divide on `B['Satisfied'] / A['Total'] ` is showing `NaN`.
While I do `B['S

[2021-01-14 15:41] WafflesMcDuff commented on #104
Any news on 7.1.5 compatibility?
Anyone found an alternate plugin to use in the meanwhile? This is killing me on objectives set by my leaders.

[2021-01-14 15:43] WafflesMcDuff commented on #104
Just noticed that #118  is supposed to fix compatibility with Grafana 7.x.x
I'll report back once we've tested.

[2021-01-25 18:39] ssakuh commented on #104
Hello,

Still broken on 7.1.7.

![image](https://user-images.githubusercontent.com/33666705/105750413-66fe6280-5f4d-11eb-9aae-1637d75d1a52.png)

Please let us know if there is an update.

[2021-01-26 02:49] Gauravshah commented on #104
@ssakuh have you tried latest version from git ?
Latest version is not released on grafana due to signing issues.

[2021-01-26 06:05] WafflesMcDuff commented on #104
Do we know when Grafana will certify this release?

[2021-01-27 03:23] Gauravshah commented on #104
@WafflesMcDuff can you verify the fix so that we can close the issue.

please follow thread here for 0.0.4 release https://github.com/grafana/grafana-plugin-repository/pull/827

[2021-01-28 03:33] WafflesMcDuff commented on #104
@Gauravshah unfortunately, my metrics team will not install it until Grafana has certified it. I'll see if I can get them to install it in a test environment.

[2021-01-28 21:21] eloykramar commented on #104
Hello, I downloaded and installed the latest version from git (https://github.com/GoshPosh/grafana-meta-queries/archive/0.0.4.tar.gz) but still not work in grafana 7.0.6.

This is my initial metric (mysql datasource)
<img width="1435" alt="grafana-meta-query-1" src="https://user-images.githubusercontent.com/1668933/106199416-352b0d00-6194-11eb-815f-f3442db34a01.png">

When try add timeshift -> err

[2021-01-29 02:46] Gauravshah commented on #104
Your panel source is mixed. It should be meta queries.

On Fri, 29 Jan 2021 at 2:51 AM, Eloy Kramar <notifications@github.com>
wrote:

[2021-01-29 15:34] eloykramar commented on #104
Sorry for my bad, with that it works perfect! Thanks.

[2021-02-03 15:04] zebardy commented on #104
Hi, is there any update on when the fix for this will be signed?

Many thanks

[2021-02-03 17:51] WafflesMcDuff commented on #104
Yes. Our grafana team says they won't implement this until the release is signed by Grafana. @Gauravshah  - where do you stand on getting the release signed?

[2021-02-03 17:52] WafflesMcDuff commented on #104
@ShilpaSivanesan

[2021-02-04 09:42] Gauravshah opened #120 "sign the plugin"
grafana 7 requires plugin to be signed

[2021-02-04 09:42] Gauravshah commented on #104
closing this issue as grafana 7 compatibility is fixed.
opening a different issue https://github.com/GoshPosh/grafana-meta-queries/issues/120

[2021-02-04 09:42] #104 closed

[2021-02-04 10:10] Gauravshah commented on #120
https://github.com/grafana/grafana-plugin-repository/pull/827

[2021-02-06 13:36] xpatos opened #122 "Timeshift does not work anymore"
I have used meta-queries for a long time with ElasticSearch, and when updating to latest Grafana, our Timeshift graphs stopped working with the error "Cannot read property 'forEach' of undefined". I tried to update to latest version of Meta, but it does not help.

[2021-02-07 05:48] Gauravshah commented on #122
have you tried using the latest version via github ?
we are working to get plugin signed and make 0.0.4 available but thats waiting on https://github.com/GoshPosh/grafana-meta-queries/issues/120

[2021-02-07 05:51] xpatos commented on #122
Yes, I pulled the latest master from github, and restarted grafana.

[2021-02-07 06:37] hhmob opened #124 "Metaqueries doesn't work on Grafana 7.4.0"
I got error like "Cannot read property 'length' of undefined" on grafana 7.4.0, but it worked on 7.3.4.

my panel config:

![image](https://user-images.githubusercontent.com/15355269/107138834-cf880f00-6951-11eb-84f1-c76c32cd17b8.png)

[2021-02-07 06:41] Gauravshah commented on #122
what grafana version are you using?
seems some issue with grafana 7.4 https://github.com/GoshPosh/grafana-meta-queries/issues/124

[2021-02-07 06:43] xpatos commented on #122
Yes, I use Grafana v7.4.0 (c2203b9859)

[2021-02-08 05:57] Gauravshah commented on #122
closing as duplicate of https://github.com/GoshPosh/grafana-meta-queries/issues/124

[2021-02-08 05:57] #122 closed

[2021-02-08 05:57] Gauravshah commented on #124
this one looks related to angular upgrade done on grafana side.

[2021-02-14 10:10] liiight opened #125 "Cannot get pluging to work using Graphite source"
I have looked at other issues and saw an issue with Prometheus #94, so it may be very similar to that. If it is, I'll close.
This is what I have:

![image](https://user-images.githubusercontent.com/4374581/107873768-8a1d9180-6ebd-11eb-939f-0ae695f64ccf.png)

Regardless of what I try, I cannot seem to access data from A nor B.

[2021-02-14 11:52] Gauravshah commented on #125
Can you try a table visualisation and send screenshots. That makes it easier to debug

[2021-02-14 14:15] liiight commented on #125
I cannot seem to get all field in a single view, only via dropdown for some reason... So here are the image(s):
![image](https://user-images.githubusercontent.com/4374581/107879139-ca8e0700-6edf-11eb-89ae-0249d71f2801.png)
![image](https://user-images.githubusercontent.com/4374581/107879145-d5e13280-6edf-11eb-93a2-4f6a2fa0e54a.png)
![image](https://user-images.githubusercontent.com/4374581/1078791

[2021-02-14 15:19] Gauravshah commented on #125
Can you do a transform and outer join in that. That should get everything
to one view and confirm if there any time differences.

On Sun, 14 Feb 2021 at 7:45 PM, Or Carmi <notifications@github.com> wrote:

[2021-02-15 07:20] liiight commented on #125
There seem to be an issue with the Grafana version installed at my work place and any transformation I try to do crashes... Is there any other way I can provide additional information?

[2021-02-15 07:24] Gauravshah commented on #125
I think there is an issue with the times.
Try using only A[“start”]. And then same with B. Try adding JS conditions
to division check.

On Mon, 15 Feb 2021 at 12:50 PM, Or Carmi <notifications@github.com> wrote:

[2021-02-15 07:30] liiight commented on #125
Same result when using `A[“start”]` or `B[“start”]`:
![image](https://user-images.githubusercontent.com/4374581/107917277-564f7400-6f70-11eb-9405-b5f7fba508ee.png)

I'm not sure what you mean by this

[2021-02-15 08:17] Gauravshah commented on #125
I am not sure what the issue is. Grafana 7.4 doesn’t work on a separate note

On Mon, 15 Feb 2021 at 1:00 PM, Or Carmi <notifications@github.com> wrote:

[2021-02-15 08:22] liiight commented on #125
It's Grafana 7.0.2

[2021-02-15 08:27] liiight commented on #125
I get lots of these errors in the console, not sure if it's relevant or not:
![image](https://user-images.githubusercontent.com/4374581/107922279-76833100-6f78-11eb-94b4-b92bec88df3b.png)

[2021-02-22 04:25] xpatos commented on #124
Any estimate when this could be fixed?

[2021-03-01 05:35] Snowing opened #126 "Update plugin on grafana"
https://grafana.com/grafana/plugins/goshposh-metaqueries-datasource

Plugin version seems outdated when using
`grafana-cli plugins install`

[2021-03-01 05:36] Gauravshah commented on #126
duplicate of https://github.com/GoshPosh/grafana-meta-queries/issues/120

[2021-03-01 05:36] #126 closed

[2021-03-07 12:54] matanbaruch commented on #104
![image](https://user-images.githubusercontent.com/36934912/110240514-fcc9dc00-7f54-11eb-83b2-eab9d5695a20.png)

Still does not work as expected

Grafana v7.3.4

[2021-03-09 11:56] drsoares commented on #124
Same here, grafana `7.4.x` and plugin version `0.0.5`.

[2021-03-10 07:49] WideLee commented on #124
Same here, grafana `7.4.3` and plugin version `0.0.5`

[2021-03-11 14:11] xpatos commented on #124
I just tried 0.0.5 with an Elastic data source, and it still shows "Cannot read property 'forEach' of undefined" and the timeshift graph is not displayed.

[2021-03-18 13:25] glodkowski opened #129 "Arithmetic query changes nulls to zeros"
I wanted to use MetaQueries plugin for simple multiplication - to change bytes to bits by multiplying metric values fetched from my datasource.

After setting up targets I noticed that gaps in my graph (when value returned from my datasource is null - meaning that device is not working) have changed to lines at 0.

Fragment of the table of values looks as follows:
| time | metric | metaquery from

[2021-03-18 13:59] glodkowski commented on #129
I just found out that making expression as follows: `A['metric'] || null` does the job, but shouldn't that be the default behaviour?

[2021-03-18 18:08] Gauravshah commented on #129
@glodkowski we feel that data should not be manipulated implicitly. As you do have an option to convert it your side.

[2021-03-18 18:08] #129 closed

[2021-03-25 08:27] earth08 commented on #124
I tried with influxdb.
Grafana 7.4.5 installed.
It doesn't work on it.

[2021-04-05 11:16] Shotte commented on #113
This is still an issue using v7.5.2 (ca413c612f) and inlfuxDB 1.8.4.
I get "resultByQuery.data is undefined" and query inspector announces "Loading query inspector... O" with forever circling around...

My simple queries are:
1) SELECT last(value)-first(value) as in FROM Bezug WHERE $timeFilter
2) SELECT last(value)-first(value) as out FROM Einspeisung WHERE $timeFilter
3) A['out'] / B['in'] (arit

[2021-04-06 12:36] muppet3000 commented on #124
Looks like I'm experiencing the same issue as everyone else has mentioned here:
Grafana version: 7.4.2 (haven't tested with an upgrade - happy to try if someone thinks it will work)

I've never used the plugin before but I've been trying to to what I thought was a very simple A-B style operation, I can't even get it to work with a simple test (shown below).

If I'm doing something wrong please let

[2021-04-06 15:30] gtankovics commented on #124
in 7.5.2 there's a feature [Expressions](https://grafana.com/docs/grafana/latest/panels/expressions/). Probably it can help/solve issues.

[2021-04-06 15:59] muppet3000 commented on #124
Thanks, I discovered that shortly after posting, it will solve some of my "simpler" needs but the example I gave above was just a trivial example.
Would be nice to see this plugin properly working though.

[2021-04-21 11:53] CGavrila opened #130 "Does MetaQueries work without aliases?"
Hello. 👋

I have two queries in a `Mixed` dashboard, one from BigQuery and one from Prometheus.

What I want to do is have the results divided using MetaQueries, such that I basically get `query A / query B` as a graph.

![image](https://i.imgur.com/6CjxQmo.png)

My best guess at this point is that `A / B` doesn't simply work, so I would need something like `A['cost'] / B['sessions']`, but that do

[2021-04-21 11:57] Gauravshah commented on #130
whats your panel's datasource ?

[2021-04-21 12:13] CGavrila commented on #130
@Gauravshah Thank you for your answer.

If you mean the `C` panel, then that should be a MetaQueries panel. I click on `Add query` on the top right, then select `MetaQueries`.

[2021-04-21 13:08] Gauravshah commented on #130
can you take a full page screenshot and send it acroos ?

[2021-04-21 13:23] CGavrila commented on #130
@Gauravshah Sure, this should be it.

![image](https://i.imgur.com/ihiqge2.png)

[2021-04-21 14:11] Gauravshah commented on #130
it says mixed at top. it should be meta-quereis

[2021-04-21 14:31] CGavrila commented on #130
@Gauravshah You were absolutely correct. Thank you so much for your help, I tried for hours!

For anyone else struggling with this, my queries now look like this:

![image](https://i.imgur.com/I2E0XuN.png)

[2021-04-21 14:31] #130 closed

[2021-05-04 09:00] Dutchy- opened #131 "meta queries javascript recursion crashes grafana browser tab"
When we create a new panel (on a new dashboard), the grafana browser tab completely hangs.
It's hard to debug because of this, but we can see this in the console:

![image](https://user-images.githubusercontent.com/627551/116974826-fccd2a80-acbe-11eb-9ca7-5827d129abd5.png)

It's output from grafana-meta-queries, and it very much seems like a recursion problem.

Deleting the data source fixed the p

[2021-05-12 06:30] Gauravshah commented on #131
confirming able to reproduce the bug

[2021-06-22 16:21] Spengreb commented on #120
Any updates on this?

[2021-06-29 16:25] adsail opened #133 "Metaqueries doesn't work on Grafana 8.0.3"
MetaQueries does not plot on Grafana 8.0.3 panels (both of type _Graph (old)_ and _Time series_.

<img width="1861" alt="Screen Shot 2021-06-29 at 12 16 17 PM" src="https://user-images.githubusercontent.com/5413950/123833973-eb765800-d8d4-11eb-93d1-3dde08959e25.png">

<img width="1858" alt="Screen Shot 2021-06-29 at 12 16 04 PM" src="https://user-images.githubusercontent.com/5413950/123833983-ec0e

[2021-06-30 17:02] sjoeboo commented on #133
Found that panels migrated from a grafana 6.x install keep working, but the identical panel, hand created in Grafana 8.x does not.

Diffing the panel jsons, i found the panel created in the 8.x release does *not* contain `"datasource": "MetaQueries",` in the metaquery query, where as the working one does.

[2021-07-15 15:14] IngvarrRnD commented on #120
After update grafana to v7.4.5, i have a problem with metaquery

Errors:
Cannot set property 'hide' of undefined OR Cannot read property 'forEach' of undefined

I'm try use WA:

in grafana.ini:
[plugins]
allow_loading_unsigned_plugins = goshposh-metaqueries-datasource

And also in env:
GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=goshposh-metaqueries-datasource

Its now working =(

Is there any WA? O

[2021-08-05 15:30] BhoomikaAnghan opened #136 "Meta queries in terms of Arithmetic operation doesn't work in grafana 8.0.6"
I am using Elasticsearch(oracle hist as named in image) data source and I want to do some Arithmetic operations (like sqrt or power(exponent)) on Metric field from Query A. I have installed a meta queries data source plugin and I am able to do basic arithmetic functions like (+,*,-,/) but it didn't work for getting sqrt or exponent. It is always returning 0 for sqrt. I have tried to use exponent(2

[2021-08-13 11:31] drasticElastic commented on #136
I am using an older version of Grafana, but was able to use more advanced Javascript math functions like square root (sqrt) and absolute value (abs) by appending `Math.`.  For example, `Math.sqrt(A['queryAlias'])`.  Hope that helps.

[2021-08-25 06:12] anshul291 commented on #19
Hi @Gauravshah : I think alerting is support with Metaqueries plugin in grafana in version 8 as i am able to configure alerts.

[2021-08-31 10:30] rahmatnugr commented on #19
Hi anshul, how do you use metaqueries plugin for alerting in grafana 8.x ? mine always show this error
[code]

[2021-09-28 18:23] mortont commented on #120
Any updates on this? Looking to run it in our instance of hosted Grafana, which requires plugins to be signed.

[2021-09-30 16:44] kurianm opened #137 "Metaqueries not found error after upgrade to 8.0.6"
I have installed meta queries. But after the upgrade of grafana to 8.0.6, it is not working. The Command run for installation is

`sudo grafana-cli plugins install goshposh-metaqueries-datasource
[sudo] password for kmatth003c:
✔ Downloaded goshposh-metaqueries-datasource v0.0.5 zip successfully

Please restart Grafana after installing plugins. Refer to Grafana documentation for instructions if ne

[2021-10-12 07:55] iamelec opened #138 "Metaqueries doesn't work on Grafana v8.1.2"
I'm currently experiencing an issue where Metaqueries doesn't seem to work on Grafana v8.1.2.
First of all I've allowed the plugin to work by allowing unsigned plugins to work.
I get the following error on my query: "Cannot read properties of undefined (reading 'forEach')''

My query is as following:
Data source = MetaQueries
First query = MySQL query with datetime and value data.
Second query = M

[2021-11-01 10:29] carlossanchezbailon commented on #120
Is there an estiamate for this fix?

[2021-11-15 08:26] giom-l commented on #137
I think you are having this message in your grafana logs
[code]
I don't know since when Grafana is enforcing signature by default, I updated from v7.5.2 to v8.2.3 and hit the same issue.
This plugin in unsigned and you need to set the following in your grafana.ini
[code]

[2021-11-15 08:28] giom-l commented on #138
Hi,

You may give a try to the solution explained here : https://github.com/GoshPosh/grafana-meta-queries/pull/128

I have this file update in my stack since I updated to grafana v7.5.2 few months ago.
And everything is working fine.

[2021-12-06 07:00] diakbar commented on #138
try allow add unsigned plugins on grafana config
[code]

[2021-12-08 13:49] yggdrasil-tynor opened #139 "Not working on 8.3.1"
metaqueries doesn't work on Grafana 8.3.1 even when adding: allow_loading_unsigned_plugins = grafana-meta-queries. Nothing in the logs.

[2021-12-09 15:22] acederlund commented on #139
I have the same issue, this is from our log file:
`lvl=warn msg="Skipping loading plugin due to problem with signature" logger=plugin.loader pluginID=goshposh-metaqueries-datasource status=unsigned
`

I did the same with "allow_loading_unsigned_plugins", so I guess it is signed, but there is a problem with the signature.

[2021-12-10 11:48] yggdrasil-tynor commented on #139
@acederlund Strange, that it works when downgrading to 8.2.2. So something must have changed in the grafana upstream?

[2021-12-21 08:40] jhuebner79 commented on #139
This project is dead, isn't it?

[2021-12-21 08:43] yggdrasil-tynor commented on #139
Works fine with grafana 8.2.2 :)

[2021-12-21 08:46] jhuebner79 commented on #139
That doesn't help much - we're not going to downgrade, so: not a real solution :)

[2021-12-22 10:25] Antartic0 commented on #124
I am in the same situation. In grafana version 8.3.3 I can't use the plugin to compare with previous states. I don't see the datasource even though it is installed.
![Captura de pantalla 2021-12-22 a las 11 25 03](https://user-images.githubusercontent.com/54585594/147077931-69682dc9-af39-412a-8b1a-d8970b0191f2.png)

[2022-01-03 11:47] Antartic0 commented on #139
Any update?
I was able to make grafana accept the unsigned plugin but it does not work:

lvl=info msg="Plugin registered" logger=plugin.manager pluginId=goshposh-metaqueries-datasource
lvl=warn msg="Permitting unsigned plugin. This is not recommended" logger=plugin.signature.validator pluginID=goshposh-metaqueries-datasource pluginDir=/var/lib/grafana/plugins/goshposh-metaqueries-datasource

But t

[2022-01-03 11:56] yggdrasil-tynor commented on #139
It works with grafana <= 8.2.2. Something upstream broke the integration.

[2022-01-18 13:17] Ook3000 commented on #139
But will it be fixed to work afain in Releases > 8.2.2?

[2022-01-18 13:35] yggdrasil-tynor commented on #139
If somebody submits a PR :)

[2022-01-28 20:52] bene86 commented on #139
I tried the fix, but for me it is not properly working. I have to say I'm not an expert in Grafana. I use 8.3.2.
I never had meta-queries propoerly working, I would like to have it for the timeshift functionality.
I tried to set it up according to the docs. Before the fix, as soon as I added any MetaQueries datasource to my panel, it showed only "No data". After the fix, I can add a MetaQueries as

[2022-01-29 02:22] Gauravshah commented on #139
@bene86 can you send a screenshot of your dashbaord settings, very likely your panel datasource is not set to metaqueires

[2022-01-29 19:55] bene86 commented on #139
Attached are two screenshots, one for "Arithmetic" one for "Timeshift" (which is what I want)

![image](https://user-images.githubusercontent.com/584526/151675606-b098dc60-0dc4-4951-a184-cbed676d9ad4.png)
![image](https://user-images.githubusercontent.com/584526/151675647-7ce83f13-583c-4c38-9e7c-63ffb90bfed4.png)

[2022-02-03 18:32] SajjadRashid opened #142 "Signing issue with version 0.0.5"
Hi, is it possible for the author to sign this version, please?

![image](https://user-images.githubusercontent.com/96260772/152406448-85a7f0fc-8cb2-4b2f-be0a-77ab950356d8.png)

[2022-02-03 21:55] bene86 commented on #139
any usefull hint on the queries? did I set some wrong settings?

[2022-02-04 04:42] Gauravshah commented on #139
You need to add Pac or sdf in the metric text box

On Fri, 4 Feb 2022 at 3:25 AM, bene86 ***@***.***> wrote:

[2022-02-04 09:46] carlossanchezbailon commented on #142
+1

[2022-02-04 18:34] bene86 commented on #139
Unfortunately, doesn't help. There is not metric text box for the Arithmetic type and if I type either "Pac" or "sdf" for the TimeShift type, it does not change at all:
![image](https://user-images.githubusercontent.com/584526/152583989-ddd87609-d518-4698-917b-e438b13e81d0.png)

[2022-02-12 22:01] appcoders commented on #139
Same here.

[2022-02-14 09:30] Gauravshah commented on #142
duplicate of https://github.com/GoshPosh/grafana-meta-queries/issues/120

[2022-02-14 09:30] #142 closed

[2022-02-16 17:57] jonathonpuff commented on #108
Possible to get this prioritized and assigned?  We're stuck on 6.2.5 until resolved.

[2022-02-25 08:45] erachenko23 commented on #124
Grafana v7.5.10 (e72061a129)
Elasticsearch Data Source

![image](https://user-images.githubusercontent.com/43468129/155683640-4b52f073-403e-4d67-bb2c-09560090f5b7.png)

No any data from MetaQueries datasource

[2022-02-25 08:59] Gauravshah commented on #124
@erachenko23 your panel source is `mixed` you need to change it to metaqueries

[2022-02-28 08:22] ritubajaj89 commented on #142
+1

[2022-03-03 06:44] ShilpaSivanesan commented on #139
Fix for the issue https://github.com/GoshPosh/grafana-meta-queries/pull/128

[2022-03-03 06:44] #139 closed

[2022-03-03 16:21] SajjadRashid commented on #142
Ok, I only saw that nothing happened for very long time so pushed for new ticket. Will look into the fix

[2022-03-04 13:48] bursztyn-pl opened #146 "Version 0.0.8 not available on grafana.com"
Hello there,

We've got automated way of deploying grafana and we're not able to install 0.0.8 version of your plugin because it is not available on:
https://grafana.com/grafana/plugins/goshposh-metaqueries-datasource/

When can we expect it there?

Best regards,
Maciej

[2022-03-07 06:45] ShilpaSivanesan commented on #146
Hi @bursztyn-pl , we are working on plugin signing process
you should be able to download latest version in couple of weeks

[2022-03-10 09:21] cjw77 commented on #146
This would be helpful for me as well, because I'm failing to upgrade from 0.0.5 to anything higher locally!  It keeps suggesting the one in the grafana catalog

[2022-03-23 11:08] yggdrasil-tynor commented on #146
Any update? :) We are eagerly awaiting this update.

[2022-04-04 13:58] erniker opened #149 "The plugin does not work on grafana 8.2.5 neither 8.4.5"
Hello!
Ok, I discovered this plugin this weekend, because I want to have in the same panel the data now, and de data a week before. But, unfortunately, the plugin does not work.
I have installed the last version (0.0.9) and this is my config:
![image](https://user-images.githubusercontent.com/10652052/161559663-9bc2a573-d385-4bf5-93e0-2a0d59d8fc7b.png)
the error is "Cannot read properties of undef

[2022-04-12 06:54] yggdrasil-tynor commented on #149
@erniker how did you install the latest version (0.0.9)? AFAIK it's not available yet due to https://github.com/GoshPosh/grafana-meta-queries/issues/146

[2022-04-19 07:50] yggdrasil-tynor commented on #146
@ShilpaSivanesan sorry to bump you. Can you please release the unsigned version until you have the signing process in place? We'd really like to utilize the fixes together with the new grafana version :)

[2022-04-19 07:50] giom-l commented on #149
You can install it manually by unzipping the plugin in the proper folder (check here : https://grafana.com/docs/grafana/latest/plugins/installation/#install-a-packaged-plugin)

However, it would be really really reaaaaaaaaally great to have the latest release available in grafana plugins (this prevent me to upgrade grafana for now :( )

[2022-04-19 09:14] yggdrasil-tynor commented on #149
@giom-l Where did you download it? I only see the source code

[2022-04-19 21:17] bursztym commented on #146
@yggdrasil-tynor there is unsigned version in releases or you  can git clone to grafana plugins folder. In addition you have to enable not  signed plugins in grafana config file.

I'm also still waiting for signing it :)

[2022-04-20 06:34] yggdrasil-tynor commented on #146
Cheers, im using the unsigned version for now :)

[2022-06-04 20:18] benhartwich opened #150 "Arithmetic: Broken numbers possible"
Hi,

 I am trying to get broken numbers by using arithmetic like D['in-complete']/C['in-start']. If I use table for visualizing my results I get NaN. Are broken numbers supported?

[2022-06-05 00:57] Gauravshah commented on #150
duplicate of https://github.com/GoshPosh/grafana-meta-queries/issues/101

[2022-06-05 00:57] #150 closed

[2022-06-07 06:07] benhartwich commented on #150
Sorry, I didn´t get, what might be the right solution. My time interval has already reached the maximum.

[2022-06-07 09:56] Gauravshah commented on #150
if your C is NaN I am not sure how do you want to present it on your graph. But lets say you want to plot a 0 it can be done as follows:
`(C['in-start']>0) D['in-complete']/C['in-start'] : 0`

[2022-06-08 23:47] cheesemocha opened #151 "plugin does not work in v8.5.0"
![image](https://user-images.githubusercontent.com/79914982/172735698-2b1d9235-7711-45b9-b540-b9b5c14ed9ea.png)

seems it has issue of below errors:

Cannot set properties of undefined (setting 'hide')

[2022-07-08 10:03] giom-l commented on #151
Today, despite a lack of communication on this project, I had the pleasant surprise to notice the plugin has been properly published and signed as grafana plugin

Here is the result of `grafana-cli plugins install goshposh-metaqueries-datasource 0.0.9`
![image](https://user-images.githubusercontent.com/29728596/177969150-bc772ef8-9ece-4278-a4d6-7b26219ef32f.png)

[2022-07-08 10:04] giom-l commented on #149
Today, despite a lack of communication on this project, I had the pleasant surprise to notice the plugin has been properly published and signed as grafana plugin.

Here is the result of `grafana-cli plugins install goshposh-metaqueries-datasource 0.0.9` on my `8.5.0` grafana instance.
![image](https://user-images.githubusercontent.com/29728596/177969150-bc772ef8-9ece-4278-a4d6-7b26219ef32f.png)

[2022-07-08 10:04] giom-l commented on #146
Today, despite a lack of communication on this project, I had the pleasant surprise to notice the plugin has been properly published and signed as grafana plugin.

Here is the result of `grafana-cli plugins install goshposh-metaqueries-datasource 0.0.9` on my `8.5.0` grafana instance.
![image](https://user-images.githubusercontent.com/29728596/177969150-bc772ef8-9ece-4278-a4d6-7b26219ef32f.png)

[2022-07-21 13:47] jonathonpuff commented on #108
@Gauravshah can you revisit this?  Like I mentioned in February we're locked into 6.2.5 until this gets addressed.

[2022-08-08 20:36] moziliar commented on #149
Hi, is this issue resolved? We observe it for both MovingAverage and TimeShift in Grafana v9.0.5

[2022-08-18 10:38] A-Salata commented on #14
Still not fixed :/

[2022-08-26 18:26] moziliar commented on #151
Hi, the plugin isn't working on v9.0.5 too with the same error. I doubt it is about signing.

[2022-10-04 08:02] maitian-1664 opened #153 "when use timeshift,is it supported a variable"
when use timeshift,is it supported a variable when use periods in metaQueries. If yes, how to use it?

<img width="960" alt="metaqueries" src="https://user-images.githubusercontent.com/64088202/193766627-5a525108-3f65-402b-b710-a4273c1e3c8e.png">

[2022-10-12 17:54] jonathonpuff commented on #108
@Gauravshah any feedback or required information?

[2022-10-18 04:01] Gauravshah commented on #108
apologies @jonathonpuff stuck into multiple things at work and unable to get on this one.
@ShilpaSivanesan should be able to take a look at this in 4 weeks time

[2022-11-13 13:12] viginti23 commented on #72
@mvisonneau did you manage to solve this one?